[2016-10-13 03:54] jordesign commented on #119
Seems it would be worthwhile - have we finalised the default custom content.

[2016-10-13 03:55] melchoyce commented on #119
Waiting on #134.

[2016-10-13 04:05] #161 closed, assigned to nobody

[2016-10-13 04:34] josephfusco commented on #271
I have created #276 to supplement this issue.

[2016-10-13 05:05] joshcummingsdesign opened #277 "jQuery $ in variable names"
As a style, I would think that the dollar sign in javascript files would only be used for variables that store jQuery objects, not values.

For example you would write:

[code]

But not:

[code]

The former is returning a collection of matched elements, and the latter is returning a float.

Therefore it can be rewritten like so:

[code]

A small detail and maybe a nice-to-have, but thought it woul

[2016-10-13 05:33] akshayvinchurkar commented on #273
#278 request will fixed this issue

[2016-10-13 06:16] celloexpressions opened #279 "Customize Audit"
Default themes should follow the [best practices](https://developer.wordpress.org/themes/advanced-topics/customizer-api/) for the customizer, leverage its latest features, and lead by example in the code and inline documentation.

There are numerous (mostly minor) problems that I've noticed so far. To minimize reworks, I'm planning to do an audit of all of the customizer-oriented code in the theme

[2016-10-13 06:28] joshcummingsdesign opened #280 "menu-scroll-down scrolls too far"
The menu scroll down scrolls passed the beginning of the content making it hard to read. It's set to the class '#primary', but maybe we can make it so it scrolls to where the bottom of the nav meets the top of the content.

![demo](https://cloud.githubusercontent.com/assets/11913201/19338712/9eddf456-90d3-11e6-96e2-8a3880f05990.gif)

[2016-10-13 07:09] celloexpressions commented on #94
I'd like to separately emphasize the more content/business-oriented features from the more subtle design/usability features. Here's an iteration:

**Twenty Seventeen brings your site to life with header videos and immersive featured images. With a focus on business sites, it supports multiple sections on the front page as well as widgets, navigation and social menus, a custom logo, and more. Perso

[2016-10-13 07:20] celloexpressions opened #281 "Add editor styles"
There seems to be no editor stylesheet currently. This is really important for user experience. I've also seen suggestions to account for custom colors here, but let's get the base styles imported first.

[2016-10-13 07:20] celloexpressions opened #282 "Add theme tags"
There are currently no theme tags in `style.css`. We should add all of the tags that apply for this theme. I believe the TRT reviews the available tags yearly in January, so we wouldn't be adding new tags for the new core features like header video or multi-part pages yet. See https://make.wordpress.org/themes/handbook/review/required/theme-tags/ for all of the possible tags to select from.

[2016-10-13 07:25] joshcummingsdesign commented on #280
Proposed fix in #283

[2016-10-13 07:26] celloexpressions commented on #26
Was Lodestar released or copyrighted yet? I'm not sure whether or not it's appropriate to reference it if that was used more out of convenience than for particular reasons, but we'd need more of the background explained there. Twenty Fourteen was also a fork, but it's original theme was published and distributed prior to being forked and the design was quite similar, so its reference to the origin

[2016-10-13 07:47] yoavf commented on #59
I've just checked a few of my favorite Hebrew sites. Most good ones use web fonts. An exception would be newspaper site [Haaretz](http://www.haaretz.co.il/) with  `"Open Sans Hebrew","Helvetica Neue",Helvetica,Arial,sans-serif`

(Note: Edited the section below after some feedback from ranh.)

Some personal  preferences for Hebrew (web) typography:
- System serif fonts typically don't look good on

[2016-10-13 08:57] joshcummingsdesign commented on #164
@laurelfulford To be honest with you, this solution looks good to me. IE8 has extremely low usage statistics and it actually doesn't look that bad in IE8. Not sure of any other way around this without JavaScript.

[2016-10-13 09:29] grappler commented on #279
I think it is better to get the changes in before it merges into core. I think the maintainers can make a note of the problems and make sure they don't crop into future pull requests.

On a side note it would be interesting if these things could be checked with an automated system like WPCS.

[2016-10-13 10:23] joshcummingsdesign commented on #165
#284 Should fix this

[2016-10-13 10:55] karmatosed commented on #256
I'm not sure we ever updated our normailze/resets in the past. Personally, I try and leave them cast in stone from release, purely for ease and legacy.

[2016-10-13 11:25] joshcummingsdesign commented on #176
Opened PR #287 for this enhancement

[2016-10-13 14:28] melchoyce commented on #59
Unfortunately, Open Sans is a web font. :/

Of these three options, is one better looking and more legible than the other?

https://cloudup.com/cuLKAB2FjXl

Thanks @yoavf (and ranh)!

[2016-10-13 14:30] folletto commented on #240
✓ change direction of animation ✓ more visual weight ✓ faster — I think it's a good solution! 👍

[2016-10-13 14:32] melchoyce commented on #164
Can someone add an IE8 screenshot, for reference?

[2016-10-13 14:36] melchoyce commented on #240
Same. We might need to tweak it a little on some of the smaller links without underlines, like in widgets, but this seems like a good improvement to links as a whole. Someone want to make a PR using @hugobaeta's codepen?

[2016-10-13 15:10] #150 closed, assigned to nobody

[2016-10-13 15:17] mor10 commented on #256
Can someone make a final call on this? I'll update the PR if necessary so we can get it sorted.

[2016-10-13 15:21] melchoyce commented on #256
Let's edit Normalize directly.

[2016-10-13 15:26] melchoyce commented on #280
Looks like this might be a duplicate of #274?

[2016-10-13 15:44] joshcummingsdesign commented on #280
duplicate of #274

[2016-10-13 15:50] leobaiano commented on #105
ok 😃

[2016-10-13 16:16] celloexpressions commented on #279
I can review before core merge, but not before the front page sections and header video pieces are resolved, as the front page stuff in particular would need major changes if it stays in the theme. I'm a lot more comfortable with SVN, so I can also actually make a patch for it at that point if needed. Either way, I'll swing back here once the front page is worked out, or when someone wants me to "

[2016-10-13 17:35] mor10 commented on #256
Question: Should I update the comment above Normalize to something like this to make it clear it is not verbatim?

[code]

If not, the PR is good to go as is.

[2016-10-13 17:38] davidakennedy commented on #280
Closing this out in favor of earlier PR. Thanks @joshcummingsdesign!

[2016-10-13 17:38] #280 closed, assigned to nobody

[2016-10-13 17:40] davidakennedy commented on #277
Thanks @joshcummingsdesign for the issue. It would be good to look at Twenty Sixteen and Twenty Fifteen for guidance here as this issue sounds familiar to me.

[2016-10-13 17:49] josephfusco commented on #256
@mor10 that looks good.

[2016-10-13 17:52] davidakennedy commented on #268
I'm not opposed to this, but I wouldn't want to add a page template for it because simplicity is better. It's okay for themes to be opinionated and not hit every possible use case. It's really a design decision, I think, because it would alter how pages look in a big way.

Thoughts @melchoyce?

[2016-10-13 17:55] davidakennedy commented on #267
Thanks @mor10! Similarly to #268, I'm not opposed to this, but also think it's okay to be opinionated and provide a design direction than more options. Thoughts @melchoyce?

[2016-10-13 17:58] davidakennedy commented on #258
I think this makes sense to do @laurelfulford.

[2016-10-13 18:08] davidakennedy commented on #248
Good issue to bring up for discussion @paaljoachim!

I don't want to add an option to hide it or display it for simplicity sake. Since this pattern was prominent in the last two default themes, both of which were more blogging focused, I'm in favor of leaving this off. I think that makes sense given the theme's focus on business sites.

[2016-10-13 18:12] mor10 commented on #267
For the custom sidebar issue (#268), I agree. For the one/two column layout issue, I think providing page-level control is vital, in large part because of how this setting is configured:

When an administrator is working in the Customizer and changes the setting, they are seeing the change only on the page they are currently looking at. There is nothing in the current setup that informs them this

[2016-10-13 18:14] davidakennedy commented on #244
Thanks for the idea @paaljoachim!

I like this pattern in some cases for content heavy sites. But I think for Twenty Seventeen, things could get tricky paired with its sticky menu. It's just not a good fit with the current design.

[2016-10-13 18:14] #244 closed, assigned to nobody

[2016-10-13 18:14] #260 closed, assigned to nobody

[2016-10-13 18:15] paaljoachim commented on #244
Adding a color through CSS to the site-footer (as seen above as the brown-red color) when there is very little content the site-content color shows through below the footer (as seen above in muddy green color).

[2016-10-13 18:37] davidakennedy opened #288 "Accessibility-Ready Review: Initial Review"
I completed an initial accessibility-ready review for the theme. Here's what I found:

**Keyboard Navigation**

Pass: No issues, overall.
- Recommended: Should the menu toggle have a solid border on `:focus`? Right now, it's dotted, like links.

**Controls**

Pass: Pass: No issues, overall.
- Recommended: The button, `<button class="menu-scroll-down"><span class="screen-reader-text">Scroll Down</s

[2016-10-13 18:38] #120 closed, assigned to nobody

[2016-10-13 18:48] celloexpressions opened #289 "Featured image missing on front page"
You can set a featured image on the front page, but it isn't displayed anywhere. This is confusing UX and possible "loss" of content when switching an existing site to Twenty Seventeen. The image should still be displayed somewhere on the front end if it's set. It doesn't need to be hugely prominent, but should be there somewhere.

[2016-10-13 18:50] ranh commented on #59
There are some artifacts at the top here, but otherwise Arial Hebrew is the best of the three: https://cloudup.com/iULLfSZpZPt

Here Helvetica is requested but since it doesn't have Hebrew characters, Arial is used for those chars as a fallback. However some chars are available in Helvetica, like double quotes, so Helvetica is still used for those. So mostly it's the same excpet for a few bad char

[2016-10-13 18:51] laurelfulford commented on #164
Sure! It looks like this normally in IE8, even with the above fix:

![Image](https://cldup.com/6Z-aAHsX5y-3000x3000.png)

... and like this on hover:

![Image](https://cldup.com/4zHXt7BAQ2.thumb.jpg)

The hover will only look like that if the grey background is kept on hover. Otherwise, the bottom border will do... whatever the bottom border will do on hover 🙂

All linked images in the content and

[2016-10-13 19:08] laurelfulford commented on #164
Oh! It looks like we could add the following to the ie8.css:

[code]

Then we get this in IE8:

![Image](https://cldup.com/5RYzLXXlcJ.thumb.jpg)

I didn't think to look up an IE8 work around before!

[2016-10-13 19:25] davidakennedy commented on #240
To clarify, would the `:focus` styles the same on `:hover`? Would there be any kind of outline on `:focus`? I _think_ having the `:focus` styles the same as `:hover` would be okay from an accessibility standpoint.

[2016-10-13 19:26] melchoyce commented on #240
What if we darkened the text and the outline a little on `:focus`?

[2016-10-13 19:31] melchoyce commented on #59
Thank you @ranh! That's super helpful.

[2016-10-13 19:32] davidakennedy commented on #233
Thanks for the good suggestion @paaljoachim. I'm not in favor of adding any theme options that are in the vein of altering the design.

Default themes should be as simple as possible, provide a clear design direction and be easy to setup. That gets harder to do with more options.

Also, if custom CSS gets into this release, this use case would be nice for that. But I do recognize every user should

[2016-10-13 19:32] #233 closed, assigned to nobody

[2016-10-13 19:34] davidakennedy commented on #240
Well, I think it could stay the same as `:hover`. I was just asking about the outline. The larger box shadow should be enough of a visual indicator. Bu I'll check on that.

[2016-10-13 19:34] joshcummingsdesign commented on #164
@laurelfulford This looks great! Even in IE8 it looks good.
![screen shot 2016-10-13 at 12 16 00 pm](https://cloud.githubusercontent.com/assets/11913201/19364028/5307cf02-9141-11e6-9988-dcd14f470d3c.png)
![screen shot 2016-10-13 at 12 18 35 pm](https://cloud.githubusercontent.com/assets/11913201/19364027/53070040-9141-11e6-90c9-89749915c181.png)

Updated in #285

[2016-10-13 19:40] davidakennedy commented on #232
Thanks for another good suggestion @paaljoachim!

One of the reasons this area isn't opinionated is so users can add what they need via a child theme or by forking the theme. Either way, some users will want something different so it tries to keep it basic. If the copyright symbol goes in, just as many or maybe more users may want to remove it as add one. 😄

So this will stay as it is.

[2016-10-13 19:40] #232 closed, assigned to nobody

[2016-10-13 19:41] paaljoachim commented on #244
Here is some code that actually works pretty well.
http://testing-newdefaulttheme-twentyseventeen.qsandbox.com/very-little-content/

#page {
position: relative;
-ms-word-wrap: break-word;
word-wrap: break-word;

/\* Sticky footer code*/
display: flex;
min-height: 96.3vh;
flex-direction: column;
}

.site-content {
padding: 2.5em 0 0;

/\* Sticky footer code*/
flex: 1;
}

Based on:
https://philipwal

[2016-10-13 19:46] davidakennedy commented on #230
@paaljoachim Another good issue – thanks for all the ideas.

I don't have a strong opinion here, but I would be open to it since we have a design for it. I'm up for seeing a pull request. It should not be fixed and follow you around. 😄

[2016-10-13 19:50] melchoyce commented on #230
Agreed — I think it can probably hang out in that spot right above the footer.

[2016-10-13 19:52] davidakennedy commented on #225
I'm not sure this can be fixed.

I adjusted it to `#222222` here: https://github.com/WordPress/twentyseventeen/commit/59c59710fd9a97c9a8c0452b3637eaea099ea36e It's that color in most cases.

The issue is that it's #ffffff when it has an image background. We may be able to put the color in a variable and change the default based on whether a header image exists or not. Thoughts @laurelfulford?

[2016-10-13 19:56] paaljoachim commented on #230
Is the back to top button/arrow almost in place or should I do some work on it?

[2016-10-13 19:59] josephfusco commented on #230
@melchoyce is the back to top button going to use a smooth scroll or be instant?

[2016-10-13 20:01] josephfusco commented on #230
@paaljoachim AFIK no one has worked on it yet.

[2016-10-13 20:07] paaljoachim commented on #230
I have a test site up here:
http://testing-newdefaulttheme-twentyseventeen.qsandbox.com/

On the front page I see the arrow pointing down. No arrow pointing up. I am looking into it.

[2016-10-13 20:09] melchoyce commented on #230
Instant. More practical on mobile, IMO.

[2016-10-13 20:09] melchoyce commented on #230
@paaljoachim: Looks like your test site is password-protected.

[2016-10-13 20:12] davidakennedy commented on #224
Let's assume this stays in, regardless of what happens with Core features.

How can we provide the user with helpful hints as to what panel goes where? Is there a hard rule that help text can not exist in the live preview? I have seen themes display text only in the Customizer to help users know what goes where before. So I don't see a problem, and we could certainly alter the design to fit better

[2016-10-13 20:14] celloexpressions commented on #225
This option should only be available, and apply, when a header image or video is set. We should be able to add an `active_callback` to the control that returns `has_header_image()` for now.

[2016-10-13 20:16] davidakennedy commented on #223
Thanks for the issue @karmatosed! If the panels have no content – the front page is just the front page. I'm not sure I see a problem. Maybe we don't highlight the front page content with the outline if the panels don't have content?

[2016-10-13 20:17] celloexpressions commented on #225
To further clarify, the header text color should not be individually customizable when it's displayed without an image or video. The only reason the option exists is to ensure that it's visible over an image (and I'm generally not convinced that this option is necessary or the best approach for this).

[2016-10-13 20:18] paaljoachim commented on #230
It looks like it is by password protected by default.
I changed the code to 000 (zero-zero-zero)
I will also see if I can open it up. Or I might add a new site to a multisite I have...

Edit:
Working locally now and will upload to another test site....

[2016-10-13 20:19] davidakennedy commented on #219
@melchoyce What are your thoughts here?

[2016-10-13 20:19] laurelfulford opened #292 "Blog as front page has incorrect layout when no sidebar"
When there's no sidebar, the blog index's layout is incorrect when it's set to be the front page:

![Image](https://cldup.com/TS_hw7zlTV-3000x3000.png)

There is no page title, and the content width is too wide.

It should look like this, with the title on the left:

![Image](https://cldup.com/iURRg1qPwn.thumb.jpg)

It displays as expected when the blog index is not set as the front page.

[2016-10-13 20:22] mor10 commented on #292
I thiiiiink this has been resolved in my flex PR (have to check).

[2016-10-13 20:28] laurelfulford commented on #292
^ Got ahead of myself there :) It's just something that needs to be fixed for one of the issues in #288.

[2016-10-13 20:36] laurelfulford commented on #292
It looks like the page title does not output when the blog index is set to the front page, in both the master and the flex PR:

https://github.com/WordPress/twentyseventeen/blob/master/index.php#L21-L24

[2016-10-13 20:38] davidakennedy commented on #215
Thanks for the good suggestion @joyously!

The `archive.php` template here serves as a fallback for post types if those do not have a template of their own. If customization is needed, post types should provide their own templates in a child theme. A default theme really just needs to handle the default post types and provide sensible defaults for fallbacks, so I'm going to close this.

[2016-10-13 20:38] #215 closed, assigned to nobody

[2016-10-13 20:40] davidakennedy commented on #219
Thanks @karmatosed! On second thought, this would alter vertical rhythm quite a bit. While I agree the current positioning may not be perfect for everyone, every design will have small issues, so I'm going to close this.

[2016-10-13 20:40] #219 closed, assigned to nobody

[2016-10-13 21:36] joyously commented on #215
I think you are mistaken. The `archive.php` template is the fallback for list pages that do not have a template of their own. Each of the templates in this theme, such as `index.php`, `archive.php`, and `single.php` calls `get_template_part( 'components/post/content', get_post_format() );` which then checks whether it is a "post" type before outputting the top meta. All I'm asking is for that if s

[2016-10-13 21:44] melchoyce commented on #267
I'm really opposed to adding page templates. I think they're overall a bad experience in WordPress, and it seems confusing to me that we'd use them to override a Customizer setting.

This makes sense to me.

[2016-10-13 21:45] melchoyce commented on #268
I think if businesses really need this, they can create a child theme or use a plugin. Let's keep pages simple.

[2016-10-13 22:00] mor10 commented on #268
I have no strong opinions on this, it is merely a suggestion. Feel free to close it out.

[2016-10-13 22:12] #268 closed, assigned to nobody

[2016-10-13 22:17] #248 closed, assigned to nobody

[2016-10-13 22:29] laurelfulford commented on #292
I've added a PR just to figure out what needs to change in the theme to fix this, code-wise, and also to have a reference for what will need to be changed to complete #288.

[2016-10-13 22:38] davidakennedy commented on #208
The reason for this is because `.hentry` is a class meant for search engines and is part of the [Microformats spec](http://microformats.org/wiki/hentry). So I think originally we set out not to style it. But being that it's the only class in Core part of [post_class](https://codex.wordpress.org/Function_Reference/post_class) that applies to all post types, it's been styled a lot in thousands of th

[2016-10-13 22:40] karmatosed commented on #223
I think not highlighting fixes this.

[2016-10-13 22:48] paaljoachim commented on #244
Btw here is the sticky footer working:
http://fragmentsofawalk.com/very-little-page-content/

[2016-10-13 22:54] davidakennedy commented on #200
Thanks for the report @joyously!

Seems reasonable @jordesign! PR welcome if you have it.

[2016-10-13 22:54] laurelfulford commented on #292
I was confused - this isn't actually required for #288, but it does need to be fixed 🙂

[2016-10-13 22:58] davidakennedy commented on #197
Thanks @mor10! I'm happy to have a pull request for this, but it isn't a top priority to remove these unless Flexbox wins out.

[2016-10-13 23:10] enodekciw commented on #258
#300 should do the job :)

[2016-10-13 23:16] davidakennedy commented on #134
If video headers make it to Core, they will likely not have the ability to set a default video, which means Twenty Seventeen should not bundle a video. If it did, it would be considered content, which is a no go in a theme.

The default header should be updated though.

[2016-10-13 23:17] melchoyce commented on #134
Good to know, thanks for the update @davidakennedy 👍

[2016-10-13 23:19] davidakennedy commented on #127
So `DATE_ISO8601` (`Y-m-d\TH:i:sO`)  is the better choice?

[2016-10-13 23:35] enodekciw opened #301 "$content variables in content-*.php templates"
Working on #258 I've noticed some inconsistency in `content-*.php` templates.

At the moment `$content` variable is defined in:
- `content-video.php`, right after the `.entry-header` (to have it ready for `empty( $video )` check, to fix #258)
- `content-audio.php`, in `.entry-content` - move it up to make it consistent with `content-video.php`?
- `content-gallery.php`, in `.entry-content` (**never

[2016-10-13 23:52] davidakennedy commented on #288
@laurelfulford One small thing I noticed while testing something else:

This should have screen reader text: https://github.com/WordPress/twentyseventeen/blob/master/inc/template-tags.php#L40

Like this: https://github.com/WordPress/twentyseventeen/blob/master/inc/template-tags.php#L22

For consistency sake.

[2016-10-14 00:05] davidakennedy commented on #116
For reference, #167 is where the colors are at currently.

Overall, I like where the colors are. This should give users some choices and eliminate the need for many schemes. I do think that with most color choices don't look as good as the default scheme or dark scheme. It just doesn't have the same punch.

It's fun to play with the slider. Its accessibility isn't bad, and I hope the hue picker is

[2016-10-14 00:14] mor10 commented on #197
I just fully updated and rebased the flex PR.

[2016-10-14 00:29] jordesign commented on #200
PR #303 submitted

[2016-10-14 01:09] ryelle opened #304 "Social Menu icons runs into footer border when there are no widgets"
The social menu touches the footer's top border when there are no footer widgets set:

![screen shot 2016-10-13 at 9 04 24 pm](https://cloud.githubusercontent.com/assets/541093/19372307/af127b02-9188-11e6-82d2-e46538218bc9.png)

[2016-10-14 01:22] mor10 commented on #304
This is addressed in the flex PR. If the PR is not accepted another one needs to be created to address the issue

[2016-10-14 01:37] paaljoachim commented on #230
Sorry to say but I have been working on replicating the arrow that is already in place. Having it in the footer and when the user clicks it it goes up to #primary but have not managed to get it right. http://fragmentsofawalk.com/

So someone should take this over that have better skills then what I have.

[2016-10-14 02:27] paaljoachim commented on #230
I have been testing a few variations but I am not getting it to work and will have to give this to someone else to handle. Sorry about that...

[2016-10-14 02:30] #258 closed, assigned to nobody

[2016-10-14 02:30] laurelfulford commented on #258
Thanks @enodekciw!

[2016-10-14 03:31] #165 closed, assigned to nobody

[2016-10-14 03:48] melchoyce commented on #116
**Some more color mis-matches:**

Post excerpts on static front-page blog sections
<img width="789" alt="screen shot 2016-10-13 at 11 36 37 pm" src="https://cloud.githubusercontent.com/assets/2846578/19374985/f2fb8bf0-919d-11e6-9845-f4d37fb907a8.png">

Shadow overlaying the section featured images shouldn't be reversed
<img width="811" alt="screen shot 2016-10-13 at 11 38 09 pm" src="https://cloud

[2016-10-14 03:52] melchoyce commented on #94
I like this a lot. Can we commit it and iterate in core?

[2016-10-14 04:13] melchoyce commented on #166
Mocked up a version of the widget that brings it closer to how posts look on static front pages:

![rss widget](https://cloud.githubusercontent.com/assets/2846578/19375495/bcb6143e-91a2-11e6-8242-24235c6e214a.jpg)

@enodekciw if you're interested in coding it up, easiest way to communicate styles is either by sending you the Sketch file, or through Zeplin. Let me know if you want to do Zeplin and

[2016-10-14 04:54] celloexpressions commented on #116
I lightened the dark scheme colors, removed the inverted gradient, and fixed in inversion of inputs.

In terms of saturation, you can test by changing the number where it's defined at the top of `color-patterns.php`. It's filterable, but we can set the default to whatever you prefer. My only concern would be that the colors become too subtle beyond a certain point, especially for the lighter color

[2016-10-14 04:59] melchoyce commented on #134
Some ideas for a bundled image:

![screen shot 2016-10-14 at 12 55 33 am](https://cloud.githubusercontent.com/assets/2846578/19376122/f339d030-91a8-11e6-8cd3-e07c734af506.png)

![screen shot 2016-10-14 at 12 55 59 am](https://cloud.githubusercontent.com/assets/2846578/19376127/0563e9a8-91a9-11e6-950c-23b6562faa27.png)

![screen shot 2016-10-14 at 12 56 47 am](https://cloud.githubusercontent.com/as

[2016-10-14 05:41] jordesign opened #305 "Thumbnail images being scaled larger"
In a recent update all images were set to width:inherit; which makes them the width of the parent container. From line 2263...

[code]

A result of this is that when a thumbnail is inserted - it is scaled up to fill the container (and looks awful in the process).
![image](https://cloud.githubusercontent.com/assets/1842363/19376811/d277e952-922c-11e6-8777-43c23a727df6.png)

Can we revisit this? It

[2016-10-14 06:54] joshcummingsdesign commented on #7
See #277 as well. I know some of the functions in global.js that I saw can be optimized (i.e. jQuery selector caching). Happy to take a look.

[2016-10-14 06:58] joshcummingsdesign commented on #9
I agree there should be testing around performance. #7 includes a question about JavaScript performance. Happy to help there.

[2016-10-14 08:48] joshcummingsdesign commented on #7
Took a pass at optimizing global.js in #306

[2016-10-14 08:49] joshcummingsdesign commented on #277
#306 Is an example of global.js refactored for optimization and addresses the jQuery '$' sign issue.

[2016-10-14 08:54] joshcummingsdesign commented on #277
Interestingly enough, $ is used inconsistently in Twenty Sixteen. It does, however, use the IIFE pattern like so:

[code]

[2016-10-14 09:06] davidmosterd opened #307 "Make the code for adding panels DRY"
The panels that are registered in customizer.php generate duplicate code. If the panel registration stays identical, a simple loop removes the risk of one of the panels getting out of sync (e.g. a string with a different punctuation would render a new string to translate).

I will add a PR to show my solution.

[2016-10-14 09:28] davidmosterd opened #309 "twentyseventeen_posted_on has an unused variable"
In template-tags.php (currently line 19) in the function `twentyseventeen_posted_on` there is a variable declared called `$separate_meta` but it seems unused. Has this something todo with the localised string or can it be removed? If the latter, I can (would love too) submit a PR.

[2016-10-14 13:43] celloexpressions commented on #94
Thanks for making a PR @josephfusco. I'd like to swap out the word "supports" in the second sentence with "features," and also replace "custom logo" with "logo," but otherwise this is still reading pretty well to me. With those changes, there are no meaningful repeated words. For the most part we're avoiding the common words I found above where reasonable. I'd also like to replace "videos" with "v

[2016-10-14 13:53] celloexpressions commented on #134
At first glance, I preferred the first one overall, visually. After some thought, I also realized that the first one is the closest to what we'd want because it implies less of a "tech" bias than the second two. Its meaning is somewhat broad, but it feels like it does have meaning, and being somewhat imperfect, it feels accessible. It generally responds well to the considerations I posted previous

[2016-10-14 14:04] melchoyce commented on #134
![screen shot 2016-10-14 at 10 02 53 am](https://cloud.githubusercontent.com/assets/2846578/19390295/6b8a4d7a-91f5-11e6-80c6-73ff469d81c3.png)

[2016-10-14 14:10] celloexpressions commented on #224
We could add text (think like the edit content links) if we have to but it's not ideal. Visual solutions like borders should be avoided. Users new to the theme will think that the borders are a part of the design that will be published to their site, as they currently look like a design detail.

We'll also likely have visible edit icons in the customizer preview, which probably eliminates the need

[2016-10-14 14:13] celloexpressions commented on #134
I think that's the one (assuming licensing is compatible). Let's get it in!

[2016-10-14 14:14] celloexpressions commented on #119
Once we have the header image in, we need to decide what the site title and tagline should be, whether there should be a logo, and what menu items should be visible. I think we'll be able to put that content in and take a screenshot directly at 1200x900px and should be good to go.

We can collaborate on the content shown in the screenshot here. I'd like to see a logo, since this is geared at busin

[2016-10-14 14:18] melchoyce commented on #116
Yeah, that's what I was editing when I came up with 40%. IMO, the body text is the biggest reason to decrease to 40% — it feels much too saturated higher than that. If we could decrease the saturation on the body text and on the borders, I'd be happy to leave the others around 50%.

Inputs look good. 👍

Cool — @davidakennedy how do you feel about getting this in as-is and iterating in new PRs?

[2016-10-14 14:27] celloexpressions commented on #116
Added a quick commit to adjust saturation and reduce it further on `#333`. I won't be able to make any other changes here until tonight, but assuming that last commit didn't break everything I think this can go in.

[2016-10-14 14:38] joyously commented on #305
No, you want width:auto, which is the default, but specifying it explicitly fixes IE8.

[2016-10-14 14:40] melchoyce commented on #134
Yup, it's from Unsplash: https://unsplash.com/@englr?photo=bIhpiQA009k

Here's a high quality version of the image, flipped and cropped: https://cloudup.com/crpvxvfwAMT

[2016-10-14 14:54] #256 closed, assigned to nobody

[2016-10-14 15:02] melchoyce opened #311 "Navigation items don't have a hover effect"
Let's change the color to `#767676` on hover.

[2016-10-14 15:21] laurelfulford commented on #288
There should be a separate PRs for each of the reported issues and recommendations. 🙂

[2016-10-14 15:35] #208 closed, assigned to laurelfulford

[2016-10-14 15:40] joyously commented on #94
I have a problem with this part:

It sounds like the theme is supplying widgets, when it is not. It also could be interpreted as having a featured place on the front page for widgets, which it does not. (it does have a sidebar, but big whoop)
I also don't like to leave them guessing what the "more" is, since some of what is listed is really mundane.

[2016-10-14 15:46] davidakennedy commented on #60
Thanks to all who have worked on this issue and pushed it forward! Thanks to @samikeijonen for leading the way with the code. In short, it's going in, and I'll work on it today.

A fallback method will be needed and after reading through this [post on fallbacks](https://css-tricks.com/a-complete-guide-to-svg-fallbacks/), it seems like the one with the widest reach will be an image fallback inside

[2016-10-14 15:46] #164 closed, assigned to nobody

[2016-10-14 15:56] tywayne commented on #277
Relevant discussion from twentysixteen - https://github.com/WordPress/twentysixteen/issues/214
It was decided back then to not use the $ prefix at all, but the slack discussion linked in that issue shows that decision was mainly based on it not being an official guideline.

FWIW, I prefer using it to denote jQuery objects, like the PR here does. Just noting the historical discussion for context.

[2016-10-14 16:01] tywayne opened #313 "Scroll down function doesn't account for height of fixed menu."
When clicking the `.menu-scroll-down` button in menu, it scrolls the content area to top of browser. This results in the title in the content being displayed behind the fixed menu.

![screen shot 2016-10-14 at 10 59 42 am](https://cloud.githubusercontent.com/assets/1395543/19394135/6588d34e-91fd-11e6-889f-3f6cad9f033a.png)

We should offset that scroll to account for the menu and display the title

[2016-10-14 16:04] melchoyce commented on #313
Thanks @tywayne! Looks like this is a duplicate of #280. There's a PR at #274 if you'd like to test it.

[2016-10-14 16:04] #313 closed, assigned to nobody

[2016-10-14 16:40] laurelfulford commented on #309
Good catch, @davidmosterd!

It looks like this was accidentally left behind when that function was updated. It should be safe to remove.

[2016-10-14 16:56] melchoyce opened #314 "Hide meta borders when meta is empty logged out"
If you're logged out and viewing a post without meta, you still see the borders coming from the empty `<footer class="entry-footer">`:

<img width="818" alt="screen shot 2016-10-14 at 12 54 48 pm" src="https://cloud.githubusercontent.com/assets/2846578/19395814/96738c78-920d-11e6-9ee6-bc375702eec9.png">

You shouldn't be able to see those borders.

[2016-10-14 17:09] joyously commented on #314
Why is the meta empty? Not showing comment indicators or taxonomies?
This is related to a question I have about why are there no Edit links on the blog index page?

[2016-10-14 18:04] mor10 opened #316 "#page level word-wrap: break-word causes issues"
When there are left/right aligned images in a post or page, the `word-wrap: break-word` rule defined on the `#page` ID causes words to be broken down into their individual letters. This is not ideal.

IMO `break-word` should only be applied to titles (if at all).

![broken words](https://cldup.com/Hx-rwtDsjH.png)

[2016-10-14 18:05] melchoyce commented on #314
It's empty because this post doesn't have any taxonomies associated with it, and the theme hides categories if "uncategorized" is selected (which is brilliant, IMO). Comment indicators don't show up in the taxonomy area.

The same thing seems to happen on pages, which don't have any meta anyway:

<img width="1085" alt="screen shot 2016-10-14 at 2 04 10 pm" src="https://cloud.githubusercontent.com/

[2016-10-14 18:51] laurelfulford commented on #314
@melchoyce ... and I forgot to ask about them during the build :) I think they could be helpful on the blog index view, if there's a location you think will make sense.

[2016-10-14 18:55] melchoyce commented on #316
Ignore that reference... copied the wrong number.

I'm 100% for this change — can someone make a PR?

[2016-10-14 18:58] melchoyce commented on #314
How about next to the date, like comments?

<img width="592" alt="screen shot 2016-10-14 at 2 57 58 pm" src="https://cloud.githubusercontent.com/assets/2846578/19399256/a845a150-921e-11e6-93d8-97c530d8f462.png">

[2016-10-14 19:11] samikeijonen commented on #316
I'd also test this for a very long word in the title and in the content. So that long word doesn't break the layout.

I have never actually done this but could align left/right on images take action only on larger screen sizes?

[2016-10-14 19:44] mapk commented on #316
In response to @samikeijonen's question above about making the images themselves work differently... Adding

[code]

and then in the media query for 30em

[code]

Seems to work and doesn't affect the text at all so we don't need to worry about long headlines.

It's my first attempt to contribute to a theme, @melchoyce, so I'm not sure on the rules... like is this even feasible (correct approach)?

[2016-10-14 19:53] samikeijonen commented on #316
@mapk that's the code what I was thinking. Thanks for clarifying that.

[2016-10-14 20:00] melchoyce commented on #316
@mapk I think so! Go ahead and submit your PR and we'll take a look :)

[2016-10-14 20:15] davidakennedy commented on #9
Closing this out. The normal reviews of code and using best practices should get the theme where it needs to be.

[2016-10-14 20:15] #9 closed, assigned to nobody

[2016-10-14 20:15] samikeijonen opened #319 "Comment by post author SVG"
There is still missing SVG icon in "comment by post author". I'd like to add this icon directly to HTML but not sure if that's possible. It would require some sort of `is_comment_and_post_author` function and perhaps also custom `callback` function.

Or use JS for this like we possible need for quote post format icon.

This issue is also note and reminder for myself.

[2016-10-14 20:16] davidakennedy commented on #3
Addressed here #288.

[2016-10-14 20:16] #3 closed, assigned to davidakennedy

[2016-10-14 20:33] laurelfulford commented on #225
@davidakennedy It looks like we can check if a header image is uploaded and change the default colour based on that. Unfortunately to make it work, we'd also need to check whether we're on the front page, which is the only page that displays the header image. I'm not sure this part is actually possible.

I think having it only available and applied when the custom header image/video is visible is

[2016-10-14 20:40] melchoyce commented on #102
Don't know that I'm going to have time to experiment with this, so I'm going to close.

[2016-10-14 20:40] #102 closed, assigned to melchoyce

[2016-10-14 20:43] mor10 commented on #16
cc @davidakennedy etc.

Based on the conversation in Slack, I don't think we are ready to move to `flex` at this juncture, so I propose closing this issue and punting the idea of using flex for layout to the next default theme.

On that note, for whomever designs Twenty Eighteen I would recommend starting with flex as the layout module and exploring the design benefits to ensure we get the most ou

[2016-10-14 20:53] samikeijonen commented on #16
+10 for this.

[2016-10-14 21:07] #60 closed, assigned to nobody

[2016-10-14 21:10] laurelfulford commented on #65
Fixed with #322.

[2016-10-14 21:10] #65 closed, assigned to melchoyce

[2016-10-14 21:11] laurelfulford commented on #191
Fixed in #322.

[2016-10-14 21:11] #191 closed, assigned to nobody

[2016-10-14 21:12] laurelfulford commented on #163
Fixed in #322.

[2016-10-14 21:12] #163 closed, assigned to nobody

[2016-10-14 21:16] laurelfulford commented on #266
Fixed in #322.

[2016-10-14 21:16] #266 closed, assigned to nobody

[2016-10-14 21:32] samikeijonen opened #323 "Top menu dropdown icon not shown when falling back to wp_page_menu"
Top menu dropdown icon is not shown when falling back to `wp_page_menu`. This happens when no menu is assigned in `top` menu.

Dropdown arrow is added via `nav_menu_item_title` filter in `inc/functions-icons.php`. I guess `wp_page_menu` is missing that filter.

I'm not sure how to resolve this if there is no similar filter added in the Core.

[2016-10-14 21:39] laurelfulford commented on #166
Fixed in #175.

[2016-10-14 21:39] #166 closed, assigned to nobody

[2016-10-14 22:05] melchoyce commented on #271
Automatically closed when I merged. Reopening.

[2016-10-14 22:16] #116 closed, assigned to nobody

[2016-10-14 22:30] LittleBigThing commented on #195
I have just tried your suggestion @melchoyce (I think :-)).

I think it works well in combination with decreasing (actually increasing :-)) the left position of the counter on ordered lists from -1.5em to -1em. This puts the numbers on ordered lists a bit more to the right, aligned with the bullets of unordered lists actually. Example:

**Before**

<img width="296" alt="ordered-lists-before" src="

[2016-10-14 22:34] #292 closed, assigned to nobody

[2016-10-14 22:36] davidmosterd opened #327 "twentyseventeen_categorized_blog variable use and naming"
I am unsure if this is the kind of development that is useful, but I am giving it a shot. The function `twentyseventeen_categorized_blog` works good, no problems. But there are a few things that I think should be done a little different to make it more readable.
- Alter the name `$all_the_cool_cats` into something semantic (and more boring, yes) like `$categories` (Or do we/you/... like these litt

[2016-10-14 22:37] davidmosterd commented on #327
I would even go further and change the transient name tbh, but let's start with this :)

[2016-10-14 22:50] mor10 commented on #73
Added the proposal from @justintadlock including a commented section explaining the ternary operator logic since it can be a bit opaque at first sight.

[2016-10-14 22:52] mor10 commented on #194
@davidakennedy I wouldn't mind giving this a crack, but it should only be done once the majority of CSS-focussed PRs are merged, otherwise there will be a lot of broken PRs floating around. We could do a full pass either close to core merge or even after so that more people can have eyes on it and there is less risk of conflict. What say you?

[2016-10-14 22:59] #94 closed, assigned to nobody

[2016-10-14 23:00] melchoyce commented on #94
Thanks everyone! Let's add make new issues for any language tweaks.

[2016-10-14 23:10] davidakennedy commented on #16
Thanks to @mor10 and everyone for the thoughtfulness, discussion, time and effort that went into this issue and the pull request. Per the [meeting today](https://wordpress.slack.com/archives/core-themes/p1476469539002745):

Hopefully, a future default theme can take full advantage of Flexbox's power, and those leading it will be better off making a decision because of the work here.

[2016-10-14 23:10] #16 closed, assigned to nobody

[2016-10-14 23:17] melchoyce commented on #45
Since there hasn't been any movement on this issue in over two weeks, I'm going to close it out. If anyone has any more thoughts, please feel free to open a new ticket. :)

[2016-10-14 23:17] #45 closed, assigned to nobody

[2016-10-14 23:21] davidakennedy commented on #288
These should all be addressed now.

[2016-10-14 23:21] #288 closed, assigned to laurelfulford

[2016-10-14 23:23] davidakennedy commented on #134
A++ on that image. Let's make sure we credit it in the readme.

[2016-10-14 23:34] #134 closed, assigned to nobody

[2016-10-14 23:49] mapk commented on #305
I'm not seeing this issue. My thumbnails are showing up just fine with the `width: inherit;` attribute set. These are images within a post.

![thumbnails](https://cloud.githubusercontent.com/assets/617986/19405596/240a7c16-922e-11e6-9117-4d55fb106d23.png)

[2016-10-15 03:22] #152 closed, assigned to nobody

[2016-10-15 04:02] #162 closed, assigned to nobody

[2016-10-15 04:18] jordesign commented on #305
I'm noticing it specifically on galleries - where the parent has a width set, so the image inherits it

[2016-10-15 04:33] davidakennedy commented on #197
Will probably leave this as is since it was decided to not use Flexbox.

Any improvements like this though can be discussed in the #12.

[2016-10-15 04:33] #197 closed, assigned to nobody

[2016-10-15 04:54] #200 closed, assigned to nobody

[2016-10-15 05:16] davidakennedy commented on #273
Fixed here: https://github.com/WordPress/twentyseventeen/commit/71430139d7bb1046a30b628b4f2094461274e1ef

[2016-10-15 05:16] #273 closed, assigned to nobody

[2016-10-15 05:41] laurelfulford commented on #277
Merged in #306 & closing - thanks @joshcummingsdesign!

[2016-10-15 05:41] #277 closed, assigned to nobody

[2016-10-15 05:44] laurelfulford commented on #309
Fixed in #325 and closing - thanks @davidmosterd!

[2016-10-15 05:45] #309 closed, assigned to nobody

[2016-10-15 05:56] #214 closed, assigned to nobody

[2016-10-15 06:00] rianrietveld commented on #288
My 2 cents on WordCamp Netherlands:
I love the theme, beautiful!

Note: I did not read all the replies with this issue, so maybe some issues are already addresses (sorry for that).

Links:
- outside entry-content there is no hover style on links
- the links in comments have no underline nor style on hover
- menu top level no style on hover

About the entry-meta in an archive, for example:

[code]

[2016-10-15 06:09] rianrietveld opened #336 "Accessibility review WCNL"
My 2 cents on WordCamp Netherlands:
I love the theme, beautiful!

Note: I did not read all the issues in this repo, so maybe some issues are already addresses (sorry for that).

Links:
- outside entry-content there is no hover style on links
- the links in comments have no underline nor style on hover
- menu top level no style on hover

About the entry-meta in an archive, for example:

[code]

The

[2016-10-15 06:38] laurelfulford commented on #160
Fixed - have merged in #178.

[2016-10-15 06:38] #160 closed, assigned to nobody

[2016-10-15 06:43] laurelfulford commented on #305
I'm seeing it too, on single posts that have smaller featured images. They're getting stretched to fit the full width of the window.

[2016-10-15 06:53] laurelfulford commented on #305
@jordesign I tried moving the IE8 specific style to the IE8 stylesheet in #338 - this fixed the issue I was seeing. Does it fix what you're seeing in the galleries?

[2016-10-15 06:54] rianrietveld commented on #336
About the search form:
Why choose this form?

[code]

In several themes/frameworks the id issue has been solved by adding a unique id for the relation between input and label, generated with unique_id();

[2016-10-15 07:05] #311 closed, assigned to nobody

[2016-10-15 09:31] jordesign commented on #305
Looks good to me - thanks @laurelfulford

[2016-10-15 13:13] ElectricFeet opened #339 "Hidden article tags on home page"
Great theme! Very impressed. Thanks 👍

I'm playing around with it to see its potential and note that when a front-page panel is unused, the resulting html has (for example):

[code]

with

[code]

in the CSS.

Is this correct in terms of best practice? Could the php take care of not outputting this html rather than relying on CSS?

[2016-10-15 13:16] ElectricFeet commented on #339
Just noted that this is similar to issue #223

[2016-10-15 13:20] karmatosed opened #340 "Potentially misaligned footer text"
I see the following and wonder if the footer link is misaligned?

![2016-10-15 at 14 18](https://cloud.githubusercontent.com/assets/253067/19410369/6fcdadf8-92e2-11e6-9764-1fe45efb0e90.png)

[2016-10-15 14:45] melchoyce commented on #340
@karmatosed, can you make a screenshot of the whole page?

[2016-10-15 14:55] karmatosed commented on #340
Sure, here you go:

![screencapture-local-wordpress-trunk-dev-1476543293971](https://cloud.githubusercontent.com/assets/253067/19410938/c47b2b20-92ef-11e6-99fb-163c38eeebe5.png)

[2016-10-15 14:56] karmatosed commented on #340
Whilst investigating it seems that site-info has a margin -6%.

![2016-10-15 at 15 56](https://cloud.githubusercontent.com/assets/253067/19410956/fa3ff448-92ef-11e6-9194-3fd16329dba8.png)

[2016-10-15 14:57] melchoyce commented on #340
Ah, seems to be related to how it's positioned when there isn't a social menu. Thanks :)

[2016-10-15 15:16] yogasukma commented on #340
Sorry for not confirmed before, but I create pull request about this before https://github.com/WordPress/twentyseventeen/issues/342 is there anything I need to provided?

[2016-10-15 15:18] melchoyce commented on #340
Hi @ysupr, can you add two screenshots: one of the site after your PR is applied without a social menu, and one of the site after your PR is applied with a social menu?

[2016-10-15 15:29] yogasukma commented on #340
Ah, it seems it became another issue.

this is applied PR without social menu
![screen shot 2016-10-15 at 11 25 58 pm](https://cloud.githubusercontent.com/assets/1949957/19411161/ddf1a432-932e-11e6-8091-23e86efc7f1e.png)

and this is after adding social menu
![screen shot 2016-10-15 at 11 27 44 pm](https://cloud.githubusercontent.com/assets/1949957/19411164/f17da38e-932e-11e6-9981-6eeb7091afcb.png

[2016-10-15 15:44] yogasukma commented on #340
By new issue I mention above are,
1. After adding the icon, site info seems forced to be centered by adding margin-left 6%. Since it percentage, I am not sure it will be center on every screen width.
2. And the social icon hit the footer line above it

[2016-10-15 15:54] laurelfulford commented on #340
The second one is a known issue, and has been reported here: #304 🙂

[2016-10-15 16:45] laurelfulford commented on #305
@jordesign Cool - thanks for checking!

[2016-10-15 17:16] laurelfulford opened #344 "RTL fixes needed for SVG update"
Creating a ticket for some SVG + RTL issues mentioned [here](https://github.com/WordPress/twentyseventeen/pull/253#issuecomment-253379147) from #253:
- Doubled arrows in menu

![Image](https://cldup.com/aLeUVe7rBh.thumb.jpg)
- Post meta icons misaligned

![Image](https://cldup.com/787a2ciwRs.thumb.jpg)
- Comment reply icon in wrong spot

![Image](https://cldup.com/lQuG0WFoES.thumb.jpg)
- Post navi

[2016-10-15 17:18] celloexpressions opened #345 "Smaller logo size"
I uploaded the WordPress logo that I downloaded straight from .org, and it looked like this:
![twentyseventeen-logo-height-current](https://cloud.githubusercontent.com/assets/7875961/19411924/837f476c-92bf-11e6-9197-b68b5aff525d.PNG)

Most business logos used here probably shouldn't be cropped, but that's the only tool within WordPress for resizing a logo. We should probably set a smaller "recomme

[2016-10-15 17:19] celloexpressions opened #346 "Add theme support for customize selective refresh widgets"
Literally every new theme needs to have this one line:

[code]

Apparently that's missing from whatever base this theme was started from, so add it there right away also. Then, adjust as needed for any JS-based widget layouts like masonry (see Twenty Thirteen for an example). The UX improvement of this change is massive.

[2016-10-15 17:24] celloexpressions commented on #225
We need this conditional both as an `active_callback` on the header image control (via `get_control( 'header_image' )`) and on outputting CSS for that, that returns:

[code]

Also, with the new default image, the text color should be black by default, as it provides better contrast on most device sizes depending on the length of the title (basically as long as it doesn't land over the vase). We sh

[2016-10-15 17:28] laurelfulford opened #347 "Add IE8 fallback for SVGs"
IE8 doesn't support SVGs, so we need to add some fallbacks.

Depending on the icon, we can either replace it with text (by displaying the `screen-reader-text`) or an image fallback.

[2016-10-15 17:38] celloexpressions opened #348 "Improve front page "panels" to follow core best practices"
Here's the start of what we'd need to do to make the current approach appropriate for a bundled theme in terms of the [official customize API](https://developer.wordpress.org/themes/advanced-topics/customizer-api/) guidelines and ideal UX:
- Remove the panel. Themes are strongly discouraged from using panels, especially when they're generic "theme options", and sections should always have multiple

[2016-10-15 17:38] samikeijonen commented on #344
Thanks @laurelfulford for checking RTL. I haven't have time to check them at all.

I try to solve remaining SVG issues (non CSS related) during Sunday. So anybody who have time feel free to create PRs for this.

[2016-10-15 17:43] laurelfulford commented on #344
I can tackle this one @samikeijonen! I just belatedly realized I forgot to move these issues to a new spot 🙂

[2016-10-15 17:47] samikeijonen commented on #346
There is a ticket waiting for this in [_s](https://github.com/Automattic/_s/issues/994) too. But no feedback so far.

[2016-10-15 17:51] samikeijonen commented on #347
I'd say we could show text at least on social menu. What do you think?

When I generated SVG icons in Icomoon, it also generated PNG files. Only problem with those are that they are always black. Or same color.

I haven't used PNG fallback myself so I need to look into this more deeply.

[2016-10-15 17:52] samikeijonen commented on #347
@laurelfulford could you also add `svg` label for all SVG related issues, thanks.

[2016-10-15 17:54] celloexpressions opened #352 "Consider styling ::selection"
A lot of users have a habit of selecting text as they read content (myself included). This tends to look pretty bad with the default OS/browser text selection colors. How would we feel about styling it with the theme? I'm thinking maybe the `#666` color, keyed to the color scheme, as the background-color, with `#fff` as the text color:
![twentyseventeen-selected-text-666](https://cloud.githubuserc

[2016-10-15 17:55] celloexpressions commented on #119
Here's a first pass (at the required 1200x900 size):
![screenshot](https://cloud.githubusercontent.com/assets/7875961/19412185/0a35040e-92c5-11e6-87f1-4fdfc5c50782.png)

We need to decide how big logos should be in #345. I used "Twenty Seventeen" for the site title, and "Bringing your site to life" as the tagline (pulled from the theme description). However, this highlights the difficulty of readi

[2016-10-15 17:59] samikeijonen commented on #344
Cool, thanks!

[2016-10-15 18:00] karmatosed commented on #352
Your highlight treatment brings up a lot of the readability issues with the hover treatment - it would be great to not add it in another place. https://github.com/WordPress/twentyseventeen/issues/222

[2016-10-15 18:11] celloexpressions commented on #352
The only part that changes over the browser default is the color, so I don't know that those issues apply as much here, since they're fairly universal. If we're concerned about that, we'd need to fix it for `::selection` regardless of styling the colors, but I'd be okay with fixing the colors only. For reference, I currently get this:
![twentyseventeen-selected-text-default](https://cloud.githubus

[2016-10-15 18:18] enodekciw commented on #119
Personally, I'd love to see more theme in a screenshot, not just the menu.

[2016-10-15 18:24] davidakennedy commented on #336
Thanks for testing Twenty Seventeen @rianrietveld! I think most of these have been addressed:

These should be good, plus there is ongoing work to modify link styles a bit. See: https://github.com/WordPress/twentyseventeen/issues/240

This was fixed by adding some context to the links as you suggest. We may be able to add more content to the author archive link. The date link needs to stay in case

[2016-10-15 18:29] karmatosed commented on #352
The color is the issue. For example most accessible cases of selection use a highlight color over the darker tones. Actually leaving it up to the browser and user preference isn't a bad thing sometimes.

We should be super careful of not having something similar to hover for example - although we may be changing that. One thing I tend to do a lot is use a yellow highlight for selection - this work

[2016-10-15 18:30] melchoyce commented on #119
I'd really like to address https://github.com/WordPress/twentyseventeen/issues/189#issuecomment-252521199 before taking a screenshot. I also think the black text and tagline is super hard to read.

I was thinking something more like this:

![screen shot 2016-10-15 at 2 28 15 pm](https://cloud.githubusercontent.com/assets/2846578/19412421/e48d433c-92e3-11e6-96f8-4248e79163dd.png)

(With better dumm

[2016-10-15 18:38] celloexpressions commented on #347
I don't think it's worth bundling extra files with the theme for IE8 fallbacks. So let's try to go text-only. The theme should work here, but it doesn't need to look great.

[2016-10-15 18:44] celloexpressions commented on #119
Always-floating the logo works for me, although I did kind of like the idea of putting it above when there's so much space on the front page. (#189 is specifically about pages other than the front page, but we could change it here also).

If the text is that low on the image (and over the gradient), white works, but further up black provides much higher contrast. We could play with the gradient to

[2016-10-15 19:00] laurelfulford commented on #344
All the reported issues should be fixed in #356.

[2016-10-15 19:14] samikeijonen commented on #347
+10. For some cases text could break the layout or look strange. For example in front page Scroll down text.

For some cases there is no `screen-reader-text` within the icon. Like in sticky post icon. But that's not going to break the theme in IE8 even if there is no icon or any text.

I can create PR for text only fallback.

[2016-10-15 19:35] #196 closed, assigned to nobody

[2016-10-15 19:37] samikeijonen commented on #336
I'd say it should stay `<a href="#content"></a>` link for this reason.

[2016-10-15 19:47] #344 closed, assigned to laurelfulford

[2016-10-15 20:07] karmatosed commented on #222
With consideration to the new styling, lets close this.

[2016-10-15 20:07] #222 closed, assigned to nobody

[2016-10-15 20:22] melchoyce commented on #352
Since we don't have a strong color palette to draw from, I'm thinking in this case we should leave the styling to browsers.

[2016-10-15 20:32] #133 closed, assigned to nobody

[2016-10-15 20:59] #143 closed, assigned to nobody

[2016-10-15 21:11] davidakennedy commented on #347
Thanks for the pull request, @samikeijonen!

I'd like to see if using an `<img>` fallback within inline SVG would work. It's [highlighted here](https://css-tricks.com/a-complete-guide-to-svg-fallbacks/).

That way, the theme handles not just IE 8, but any browser that does not support SVGs. It's worth bundling extra images in that case.

[2016-10-15 21:14] #282 closed, assigned to nobody

[2016-10-15 21:34] samikeijonen commented on #347
I can check that tomorrow.

On Oct 16, 2016 12:11 AM, "David A. Kennedy" notifications@github.com
wrote:

[2016-10-15 21:49] melchoyce opened #365 "Double-check letter-spacing on non-latin alphabets"
Related to #59. Will do once that issue is closed.

[2016-10-16 01:52] davidakennedy commented on #352
I would agree on leaving this because of the monochromatic nature of the theme.

[2016-10-16 01:52] #352 closed, assigned to nobody

[2016-10-16 04:19] yogasukma commented on #304
Hi, i made update locally by added margin-top: 10px, is it good?

i personally think the site info also need go down a little.

![screen shot 2016-10-16 at 12 18 20 pm](https://cloud.githubusercontent.com/assets/1949957/19415188/b329ce20-939a-11e6-81db-ce27c4f4d991.png)

[2016-10-16 04:47] laurelfulford commented on #336
Merged #354 and #360, addressing the outstanding issues; closing. Thanks @rianrietveld!

[2016-10-16 04:47] #336 closed, assigned to nobody

[2016-10-16 05:18] joyously commented on #345
Why would the theme specify any size? It should just be the size that is uploaded.

[2016-10-16 05:21] davidakennedy commented on #323
Thanks @samikeijonen! Saw your pull request as well.

I'd like to avoid the JS-only solution if possible. Could the icon not be added with the `'link_after'` parameter in `wp_page_menu`?

[2016-10-16 05:25] ntwb opened #377 "Add missing closing brace"
Looks like a closing brace was missed when resolving a merge conflict in https://github.com/WordPress/twentyseventeen/commit/96f9010ccd457ae3ca042ccc4fbdcbb10dd3b8f6

[2016-10-16 05:32] davidakennedy commented on #377
Thanks for cleaning up my mess @ntwb!

[2016-10-16 05:32] #377 closed, assigned to nobody

[2016-10-16 06:42] davidakennedy commented on #269
Hey @joyously! Thanks for this issue!

I've double-checked, and I can't find any issues with captioned images in the theme.

Gallery uses `gallery-caption`. Regular captioned images use `wp-caption`, which I see in your markup example. And `.wp-caption .wp-caption-text` comes into play as well.

See: https://github.com/WordPress/twentyseventeen/blob/master/style.css#L2246-L2264

There have been so

[2016-10-16 06:42] #269 closed, assigned to nobody

[2016-10-16 06:50] joyously commented on #269
Yeah, I think there was actually a minor update to the gallery styles in that big gallery PR because of this issue, but it might not have gotten referenced.

[2016-10-16 07:38] samikeijonen commented on #323
Yes and I already had that solution. But in there I don't know how to add icon only for page items which have children. We could hide `expand` icon for others via CSS. I'll create separate PR for this solution.

Anyways I'd say that 99.9% of users roll out their own menu.

[2016-10-16 08:30] samikeijonen commented on #323
@davidakennedy: I added solution II in PR #380. I personally like this better even it involves little CSS.

[2016-10-16 09:52] samikeijonen commented on #347
PR #381 have basic PNG fallback for SVGs. I'm not the biggest fun of this solution for couple of reasons.
1. PNGs doesn't look very good.
2. It has color contrast issues because it's really hard to maintain PNGs in different colors. See screenshot below.
3. It's not child theme friendly because you can't easily change PNG colors.
4. I don't know are the PNG images loaded even if they are not neede

[2016-10-16 11:03] tg29359 opened #382 "'Edit %s' is not good for msgid. It is too difficult to translate to some language (for example, to Japanese)."
'Edit %s' is not good for msgid.
The msgid must be something like `'Edit<span class="screen-reader-text"> "%s"</span>'`.

Why?

%s is text for screen reader.
The text is invisible for persons using visual web browser.
In some language, there must be something like preposition between 'Edit' and %s.
For example, in some language, 'Edit %s' may be translated to 'Edeata voneata %s' .
'Edeata' means '

[2016-10-16 11:11] samikeijonen opened #383 "Missing SVG icon in quote post format"
I can't remember anymore what was the design for icon in quote post format. But if the icon is inside `blockquote` we probably need JS for this.

I'll try to give example PR for this.

[2016-10-16 11:18] samikeijonen opened #384 "Failed opening required 'color-patterns.php'"
Loading `color-patterns.php` failes when using `require_once( 'color-patterns.php' );`. I can see this error in the Customizer.

[2016-10-16 11:57] jordesign commented on #345
Do we need to think about allowing for HiDPi/responsive images for the logo as well?

[2016-10-16 13:41] #127 closed, assigned to nobody

[2016-10-16 13:47] #203 closed, assigned to nobody

[2016-10-16 13:51] celloexpressions commented on #384
Do you have this file in your copy of Twenty Seventeen? It was added recently.

[2016-10-16 13:57] #73 closed, assigned to nobody

[2016-10-16 13:59] celloexpressions commented on #189
@melchoyce mentioned wanting to address this before #119, so it needs to be in the core merge milestone.

[2016-10-16 14:00] samikeijonen commented on #384
Yes in inc folder. I can check when back on computer.

[2016-10-16 14:01] celloexpressions commented on #190
I was thinking more about single pages with this issue, but if there aren't any major ideas beyond the current setup we can close this.

[2016-10-16 14:03] celloexpressions commented on #230
I like the idea of a scroll-to-top arrow before or just inside the footer for parity with the header scroll down arrow.

[2016-10-16 14:04] celloexpressions commented on #281
Noting that we'll need to merge all stylesheet changes into the editor styles after this is merged, as we'll need to do for both color stylesheets now as well. Please keep that in mind when merging any changes into `style.css`.

[2016-10-16 14:09] karmatosed opened #386 "Potentially make the pin icon for sticky posts smaller"
I maybe think it should match the line height over what we have:

![2016-10-16 at 15 08](https://cloud.githubusercontent.com/assets/253067/19417985/91ff88b2-93b2-11e6-802d-5390b5cf03a8.png)

[2016-10-16 14:21] karmatosed opened #387 "Nexus 6P : Arrow and Pin icon adjustments"
These seem to be too close on smaller devices, I discovered this on Nexus 6P.

![2016-10-16 at 15 19](https://cloud.githubusercontent.com/assets/253067/19418062/29102f44-93b4-11e6-85ea-c31391a03fc5.png)

[2016-10-16 14:25] karmatosed opened #388 "Browser testing thread issue"
As each browser is tested please note here - anyone can help with this the following browsers at minimum we need to test:
- [x] - IE 9
- [x] - IE 10
- [x] - IE 11
- [x] - Safari latest
- [x] - Firefox latest
- [x] - Chrome latest
- [x] - Opera latest

[2016-10-16 14:27] karmatosed opened #389 "Device testing issue thread"
Here are the devices we are testing, as you test note and we can then cross off each device.
- [x] - Android phone
- [x] - Android tablet
- [x] - iPhone 6
- [x] - iPhone 6 plus
- [x] - iPhone 5
- [x] - iPad mini
- [x] - iPad retina air or normal size
- [x] -Amazon fire

[2016-10-16 14:28] karmatosed commented on #10
Device testing plan for devices:
- Android phone
- Android tablet
- iPhone 6
- iPhone 6 plus
- iPhone 5
- iPad mini
- iPad retina
- Amazon fire

Browsers we should test are the following:
- IE 9
- IE 10
- IE 11
- Safari latest
- Firefox latest
- Chrome latest
- Opera latest

I have made an issue for device and one for browser testing to sign off each.
https://github.com/WordPress/twentyseventeen/i

[2016-10-16 14:28] karmatosed commented on #10
Closing as we have a plan.

[2016-10-16 14:28] #10 closed, assigned to karmatosed

[2016-10-16 14:31] karmatosed opened #390 "List styles hang over edge outside of content"
This could be a design decision, but worth checking.

![2016-10-16 at 15 30](https://cloud.githubusercontent.com/assets/253067/19418127/a39a1dfa-93b5-11e6-836c-73e33af8573d.png)

[2016-10-16 14:33] karmatosed opened #391 "Pre-formatted text is cut off"
This happens on all devices I tested.

![2016-10-16 at 15 32](https://cloud.githubusercontent.com/assets/253067/19418135/cffb324e-93b5-11e6-8f31-72c9b989583c.png)

[2016-10-16 14:36] karmatosed commented on #389
Nexus 6P: issues logged from this so did not pass 100%.

https://github.com/WordPress/twentyseventeen/issues/387

[2016-10-16 14:39] karmatosed commented on #389
Amazon Fire tested and no new issues.

[2016-10-16 14:42] karmatosed opened #392 "Galaxy Note 2 rendering issue on image header"
We may decide to not support this, however showing here the rendering issue as discovered testing.

![2016-10-16 at 15 41](https://cloud.githubusercontent.com/assets/253067/19418192/1960b02a-93b7-11e6-98c5-e2dbd208acaa.png)

[2016-10-16 14:42] karmatosed commented on #389
Android tablet I tested was Galaxy Note 2 and found a rendering issue.

https://github.com/WordPress/twentyseventeen/issues/392

[2016-10-16 14:44] karmatosed commented on #389
iPhone 6 tested and no new issues

[2016-10-16 14:44] karmatosed commented on #389
iPhone 6 plus tested and no new issues

[2016-10-16 15:21] joyously commented on #347
Why would you put the background color into the PNG? The image should be transparent and use the theme color for background-color behind it. That's why you use PNG and not JPG.

[2016-10-16 15:29] joyously commented on #388
And mobile browsers?

[2016-10-16 15:29] samikeijonen commented on #347
Because I don't have control over PNGs when they are generated in Icomoon. Or maybe I do but I just don't know about it. Do you know how we can control generated PNGs?

Also PNGs have transparent color but the icon itself is solid color like `#000` at the moment. I think we can change that in Icomoon but that doesn't solve the problem.

[2016-10-16 15:37] joyously commented on #390
I mentioned this somewhere....can't find it. I was told it was typography.

[2016-10-16 15:39] joyously commented on #391
Looks like it needs `pre {overflow:auto}`.

[2016-10-16 15:41] celloexpressions commented on #388
List is missing Edge (the replacement for IE). I'll test there in a bit.

[2016-10-16 15:52] celloexpressions opened #393 "Mobile menu parent items require double tap"
Because of the code in place to make sub-menus accessible on larger screens, the first tap on a parent menu item on mobile does nothing. It should either open the submenu (duplicating the action of tapping the dropdown arrow) or navigate to the top-level item on the first tap. However, it's important that the current behavior be maintained on larger screens. I'd suggest adding a conditional for th

[2016-10-16 15:58] celloexpressions commented on #389
Tested in Edge 38 on Windows Phone 10 and found one issue: #393. However, I believe that this issue will affect all small-screen touch devices. Otherwise, looks good.

[2016-10-16 15:58] celloexpressions commented on #388
Edge looks like no issues that aren't present on other browsers.

[2016-10-16 16:05] celloexpressions commented on #390
This seems fine as a design decision, but causes issues on mobile. Should probably adjust it there.

[2016-10-16 16:16] samikeijonen commented on #389
Is there live demo site where I could test with my device?

[2016-10-16 16:37] samikeijonen opened #394 "Title and/or desc in SVG icons for better accessibility"
All SVG icons are decorative in a theme. `twentyseventeen_get_svg` function generates this markup by default.

[code]

`aria-hidden="true"` is added by default because all used icons are decorative. But it's possible that child themes want to use meaningful, non decorative SVG icon. Twenty17 should provide example how to do it as accessible as possible.

In `twentyseventeen_get_svg` function you c

[2016-10-16 17:02] karmatosed commented on #389
@samikeijonen there is not, you have to set up on hosting or test via local tunnel yourself at this point.

[2016-10-16 17:02] karmatosed commented on #388
@joyously we have another ticket for mobile.

[2016-10-16 17:16] celloexpressions commented on #347
At a minimum, we'd need icons for the light and dark color schemes. I still don't think that there's enough use of non-supported browsers to justify adding these, and [IE8 is the only one listed on caniuse.com](http://caniuse.com/#search=svg).

[2016-10-16 17:22] melchoyce commented on #345
I think this is a bug — I uploaded a 250px x 250px image and it shows up like this:

<img width="1255" alt="screen shot 2016-10-16 at 1 21 19 pm" src="https://cloud.githubusercontent.com/assets/2846578/19419343/74937608-93a3-11e6-977c-893317d11551.png">

Plus, the CSS specifies a max-width/height of 500px, which is somehow being ignored here:

`@media screen and (min-width: 48em)
.twentyseventeen-

[2016-10-16 17:22] melchoyce commented on #345
cc @davidakennedy @laurelfulford ^

[2016-10-16 17:23] melchoyce commented on #345
I think this is a bug in how core itself handles images in the Customizer?

[2016-10-16 18:29] melchoyce commented on #227
Fixed in https://github.com/WordPress/twentyseventeen/commit/353cca8c31ff48bc5d8b8745bc457d7f7c51d9d0

[2016-10-16 18:29] #227 closed, assigned to nobody

[2016-10-16 18:38] melchoyce commented on #59
re: Vietnamese, Libre Franklin introduced support in https://github.com/impallari/Libre-Franklin/commit/b57e464c491caffa8a5659c93ef8498694296e33. I pinged the font designer on Twitter to ask if that support would be rolled out to Google Fonts, and he said yes, soon.

So, what I'm wondering is — should we adjust the font-stack now and then un-adjust it later when the Google Fonts version updates, o

[2016-10-16 19:10] celloexpressions commented on #384
Fix in https://github.com/WordPress/twentyseventeen/commit/4ba0a7cd5fe324074e767082f7494fa256719238, I'm guessing.

[2016-10-16 19:17] jordesign commented on #345
Would it be overkill to add a range control to let the user set the width in css?

[2016-10-16 19:56] #281 closed, assigned to nobody

[2016-10-16 20:20] #176 closed, assigned to nobody

[2016-10-16 20:22] davidakennedy commented on #194
@mor10 Thanks for volunteering. Given where we're at right now, I'd rather not do this.

Both @laurelfulford and I agree with the changes in principle, but I'm worried that we don't have the time to make such sweeping changes and test before the merge deadline Wednesday. Time is better spent on formatting and testing.

I'm going to close this for now, but that said, if we get to Tuesday, everythin

[2016-10-16 20:22] #194 closed, assigned to nobody

[2016-10-16 20:27] noplanman opened #400 "Clean style guide"
Browsing through the code and fixing various typos in the documentation/comments, I saw that there are different "styles" of code in different places, it's not all the same.

A few examples:
- Empty first and last lines within functions. ([yes](https://github.com/WordPress/twentyseventeen/blob/c947bc852ebfa71a894d56e09a3dd8a9e08edd67/inc/icon-functions.php#L13) vs. [no](https://github.com/WordPres

[2016-10-16 21:01] davidakennedy commented on #400
@noplanman Go for it. This is on my last as a thing to do tomorrow and Tuesday. But if you can get it going that would be great. Thank you!

[2016-10-16 21:10] noplanman commented on #400
Ok, will make two PRs, one for the documentation part (#402), one for the code (#416).

Is that ok for you? Just trying to find a way that will make the merge easier and keep conflicts as low as possible.

[2016-10-16 21:10] davidakennedy commented on #400
@noplanman That's reasonable. 😄

[2016-10-16 21:15] davidakennedy commented on #400
@noplanman By the way, follow WordPress coding standards.

[2016-10-16 21:15] noplanman commented on #400
@davidakennedy Of course 😉

[2016-10-16 21:19] celloexpressions commented on #345
The custom logo control will crop the image to the size the user specifies in the customizer, and resize it to the theme's dimensions. The theme should specify the desired size of the logo in the add theme support, as core will try to match that size as closely as possible. Flex width and height allow arbitrary aspect ratios, but one dimension will try to match the width and height numbers in the

[2016-10-16 21:24] #384 closed, assigned to nobody

[2016-10-16 23:54] laurelfulford commented on #382
Closing - fixed in #399.

[2016-10-16 23:54] #382 closed, assigned to nobody

[2016-10-16 23:57] johnbillion opened #406 "Update the enqueued asset version numbers"
Just before Twenty Seventeen is released, the version numbers used for the enqueued JS and CSS files should be updated, so it doesn't ship with version numbers such as `20151215`.

[2016-10-17 01:36] melchoyce commented on #190
Yeah, going to close this one. Great idea, not a lot of time. Could be cool to see in Twenty Eighteen. :)

[2016-10-17 01:36] #190 closed, assigned to nobody

[2016-10-17 02:19] melchoyce opened #409 "Add playlist styles to editor styles"
Once #407 is in.

[2016-10-17 02:22] melchoyce commented on #345
Just for reference: https://core.trac.wordpress.org/ticket/36191

[2016-10-17 02:47] #137 closed, assigned to nobody

[2016-10-17 03:02] #305 closed, assigned to nobody

[2016-10-17 03:08] #323 closed, assigned to nobody

[2016-10-17 03:15] melchoyce commented on #391
Hey, just took a look and determined this is the expected behavior — the `pre` tag doesn't have line-wraps, so you need to scroll to see more code.

We could change this by introducing `white-space: pre-wrap;`, but I actually think that introduces a worse code-reading experience.

Going to close this one, but feel free to re-open if you disagree, or if you find a bug related to this behavior on a

[2016-10-17 03:15] #391 closed, assigned to nobody

[2016-10-17 03:18] melchoyce commented on #390
This is a design decision, so I'm going to close. Spacing on mobile discussed in #195.

[2016-10-17 03:18] #390 closed, assigned to nobody

[2016-10-17 03:18] melchoyce commented on #386
Agreed. Easier to do now that it's an SVG. :)

[2016-10-17 03:54] melchoyce opened #413 "Simplify header between front-page and interior pages"
After watching a couple conversations unfold across issues, and my own testing, I’ve come to realize that removing the header image on interior pages is a mistake.

I think we should still show a collapsed header on interior pages, but include a sliver of the header image, along with the gradient overlay. This simplifies a number of issues:
- It fixes #225, and the eliminates any confusion around

[2016-10-17 04:05] #202 closed, assigned to laurelfulford

[2016-10-17 04:34] davidakennedy commented on #393
Thanks @celloexpressions! Worth noting that Twenty Sixteen has this issue as well.

[2016-10-17 05:40] #223 closed, assigned to nobody

[2016-10-17 08:07] noplanman commented on #400
There are some things that aren't explicitly stated in the WP coding standards, which seem to be up to the developer to decide.

Namely:
- Empty space before a `return` statement.
- String concatenation. (`$str = $str . " plus."` vs `$str .= " plus."`
- Indentation of inline PHP blocks.

Regarding the inline PHP block indentation, the coding standards page has a small code snippet, but I don't kno

[2016-10-17 08:52] BinaryMoon opened #417 "Typo in twentyseventeen_front_page_template function comment description"
displays is spelt wrong (displayes) on line 337.

[2016-10-17 14:27] davidakennedy commented on #59
@melchoyce Re: Vietnamese – any alternatives? Time is running out. 😞

[2016-10-17 14:52] melchoyce commented on #59
@davidakennedy What are your opinions on the options I laid out?
1. Leave it and wait for the eventual Google Fonts update
2. Create an alternative font-stack, and then delete it when Google Fonts is updated (_if_ we notice 😕)

[2016-10-17 15:21] tg29359 opened #420 "msgid 'Continue reading %s' still has the issue like the issue #382"
The %s is screen reader text, and it is also too difficult to translate to Japanese like the issue #382.
Please grep whole source code with the key word "screen-reader-text", and make a search for "%s" around the "screen-reader-text", then consider whether the %s should be wrapped with `<span>` or not.

[2016-10-17 16:26] melchoyce commented on #59
Chatted with @davidakennedy and decided to leave Vietnamese, pending the font update on Google Fonts. It'll be a much more tailored experience, and we won't have to worry about redoing anything afterwards. With that, I think we can close out this issue. If anyone thinks we should support additional languages, please make a new issue. :)

Thanks for everyone's help and input here! Please keep testi

[2016-10-17 16:26] #59 closed, assigned to nobody

[2016-10-17 18:33] #406 closed, assigned to nobody

[2016-10-17 18:57] davidakennedy commented on #348
Thanks for bringing this up @celloexpressions!

These are all good ideas, and I agree with many. It will depend on time as to how much we can knock out before merge.

This shouldn't be too hard to do, and I don't think it will impact the experience there at all.

I'd be against removing it or putting it in a different area. This seems far better than using page templates to tweak a layout. And man

[2016-10-17 19:07] #417 closed, assigned to nobody

[2016-10-17 19:10] celloexpressions commented on #348
For the layout control, we'd want it to be in a separate section probably, since it's contextual differently from the other controls. Twenty Eleven has a layout section, actually. "Theme options" could work for the layout control, but doesn't make sense for the front page content.

I'll open a separate issue for `postMessage` for the layout. That needs to be in 1.0 but can happen after merge.

Wit

[2016-10-17 19:28] #195 closed, assigned to laurelfulford

[2016-10-17 19:32] #316 closed, assigned to nobody

[2016-10-17 19:37] #347 closed, assigned to laurelfulford

[2016-10-17 19:39] laurelfulford commented on #304
Thanks @ysupr!

I think we want to make sure both the social icons and site information line up, even after more space is added.

I added a PR where some of the padding for the footer widgets is moved to the .wrap, so it'll still be there above the social icons when there are no footers.

@melchoyce Please let me know if there should be more or less space above the icons - thanks!: https://cloudup

[2016-10-17 19:40] #304 closed, assigned to nobody

[2016-10-17 19:45] melchoyce opened #425 "Let people make empty menus"
If I'm making a one-page website, I'll often unassign the menu so it disappears. Sometimes this works in themes (woohoo!) and sometimes it doesn't (sad).

I'm thinking that if a menu isn't assigned, we should hide the menubar, rather than showing all of your site's pages by default.

@laurelfulford / @davidakennedy what are your thoughts here?

[2016-10-17 19:48] laurelfulford commented on #425
Ah, that's a good point about a one page website not necessarily needing a menu. I'd be fine with there being no fallback menu, to make it easier for users to leave one out.

[2016-10-17 19:59] slaFFik commented on #425
There is a possibility to do that. But the end result looks ugly.
Create a menu, uncheck "Automatically add new top-level pages to this menu" checkbox, assign it to "Top" menu location and DO NOT add pages/links/whatever to that menu.

Here is how it will look like:

![image](https://cloud.githubusercontent.com/assets/282234/19453308/5e05b1c4-94bd-11e6-8e69-898e23ab9919.png)

[2016-10-17 20:02] celloexpressions commented on #425
The menu fallback should probably be removed, and the styling should also be updated to handle an empty menu as the above screenshot shows.

[2016-10-17 20:02] melchoyce commented on #425
Ideally that would be fixed, so the whole bar would disappear. :)

[2016-10-17 20:20] samikeijonen commented on #425
+1. I'd say in 99.9% of sites there is need for custom menu or not menu at all.

[2016-10-17 20:38] melchoyce opened #429 "Playlists don't render on blog/archive pages"
![screen shot 2016-10-17 at 4 35 48 pm](https://cloud.githubusercontent.com/assets/2846578/19454664/0991ec5a-9488-11e6-94b7-0b3e4a87aba6.png)

[2016-10-17 20:43] davidakennedy commented on #429
@melchoyce I can't reproduce this. Are you seeing any kind of errors anywhere, like in the browser console.

[2016-10-17 20:50] karmatosed commented on #348
I think in this case 'Theme Options' does make sense and keeping the panel as a result works. Could this be better? Yes it could. However, we shouldn't just make the change without user testing that impact - remember we have user testing to back up this method being used.

There is some good work going on with the multi-panel, whatever direction we take the ball is rolling on thoughts and prototyp

[2016-10-17 21:01] davidakennedy commented on #348
@karmatosed brings up some good points. I would be nervous about making changes at this point.

What's in the theme now has been in since the initial commit and has always been the fallback plan for the front page should multi-panels not happen in Core this release. It's important that we don't make any rash decisions.

I do think work can be done on moving to selective refresh, using postMessage

[2016-10-17 21:11] melchoyce commented on #429
Nope, not seeing any errors.

[2016-10-17 21:11] melchoyce commented on #429
This is the output HTML for each playlist:

`<div class="entry-video"><video controls="controls" preload="none" width="678" height="381"></video></div>`

`<div class="entry-audio"><audio controls="controls" preload="none" width="678"></audio></div>`

[2016-10-17 21:33] celloexpressions commented on #348
Bundled themes should not blatantly ignore the core recommended best practices, period. There is no need whatsoever for a panel with several sections that have one control in each. That's the definition of the purpose of a section - a UI container for controls (plural). Quoting directly from the official documentation (linked above):

Additionally, the current usage violates the intended purpose o

[2016-10-17 21:37] celloexpressions opened #431 "PostMessage transport for layout control"
The single page layout option in the customizer should use `postMessage` to instantly update the customizer preview when it's changed. I haven't looked at the current implementation yet, but it shouldn't be difficult to toggle a body class to control this.

[2016-10-17 22:29] #409 closed, assigned to nobody

[2016-10-17 22:34] melchoyce opened #433 "Lone widget floating... alone"
When you only have one widget in Footer 1, it floats right because it's the last child in the container:

<img width="1302" alt="screen shot 2016-10-17 at 6 33 09 pm" src="https://cloud.githubusercontent.com/assets/2846578/19458154/5fcd7b4c-9498-11e6-8aa6-5d577edecf7d.png">

It should probably float left, so it's aligned with the left margin of the screen.

[2016-10-17 22:36] #340 closed, assigned to nobody

[2016-10-17 22:49] #383 closed, assigned to nobody

[2016-10-17 23:02] #345 closed, assigned to laurelfulford

[2016-10-17 23:06] #240 closed, assigned to nobody

[2016-10-17 23:12] melchoyce commented on #250
So, I actually think we should remove the edit button in interior pages and instead show "edit" underneath the page title, like we do on the homepage. Posts, since they have meta, can stay the same. cc @laurelfulford

[2016-10-17 23:56] yogasukma opened #435 "Call to undefined function twentyseventeen_is_frontpage() and widget menu missing"
**step to recreate**
1. download theme as zip
2. replacing my old twentyseventeen theme
3. open home page
4. it showing
`Fatal error: Call to undefined function twentyseventeen_is_frontpage() in /home/vagrant/web/core/wp-content/themes/twentyseventeen/components/header/header-image.php on line 16`

and i notice in the wp-admin, appearance > widget are not showing up too

[2016-10-17 23:58] yogasukma commented on #435
i tried to install it on very fresh wordpress install, but it fail me. it showed that twenty seventeen need wordpress 4.7 and my installation just 4.6.1.

is there any trick to get 4.7? since i didn't see at wp.org

[2016-10-18 00:48] alaczek opened #437 "First post title displayed as page title"
On a fresh install of WordPress, right after Twenty Seventeen activation, the blog index page displays first post title as the page title above the post:

![image](https://cloud.githubusercontent.com/assets/4550351/19460570/9601a2de-9528-11e6-9509-db12283865bf.png)

[2016-10-18 01:03] laurelfulford commented on #437
This looks like it's because in this line:

`<h2 class="page-title"><?php echo get_the_title( get_option( 'page_for_posts' ) ); ?></h2>`

This bit `get_option( 'page_for_posts' )` doesn't return anything because there isn't a page for posts set.

If you set a static front page, pick a page for posts, and undo it, that page for posts title will be remembered and returned in this spot going forward.

[2016-10-18 01:06] melchoyce commented on #437
I wouldn't add an option — in this specific case, I'd hide the "page title" entirely.

[2016-10-18 01:08] davidakennedy commented on #437
Yeah, no options. 😄  I think we can fix this with a more thorough check.

[2016-10-18 01:27] melchoyce commented on #437
I misunderstood what was going on — removing "pr needed" for now while we work out a better solution.

[2016-10-18 01:45] davidakennedy commented on #435
Hey @ysupr!

This happened because you had a previous version of the theme activated, which did not require 4.7. That change was made very recently.

The theme now requires WordPress 4.7 because it uses new features only available there. To fix this:
1. Activate another theme.
2. Install the beta testing plugin and follow instructions here: https://make.wordpress.org/core/handbook/testing/beta/
3.

[2016-10-18 01:45] #435 closed, assigned to nobody

[2016-10-18 01:46] alaczek opened #438 "A set of two lines at the bottom of single post/page displayed for the logged out users"
There appears to be a set of two parallel lines at the bottom of single post/page content for logged out users.

![image](https://cloud.githubusercontent.com/assets/4550351/19461482/88158ab6-9530-11e6-9dff-5f945dcef4c5.png)

![image](https://cloud.githubusercontent.com/assets/4550351/19461485/90f1d180-9530-11e6-96cc-1ff5cf60de77.png)

This is where the Edit button appears for logged in users.

![i

[2016-10-18 01:48] melchoyce commented on #438
Duplicate of #314

[2016-10-18 01:48] #438 closed, assigned to nobody

[2016-10-18 01:50] alaczek commented on #438
Sorry! My search powers failed me :|

[2016-10-18 01:51] melchoyce opened #439 "When "One Column" is set, home page should also be one column"
When you set "One Column" in the Customizer:

<img width="296" alt="screen shot 2016-10-17 at 9 50 23 pm" src="https://cloud.githubusercontent.com/assets/2846578/19461581/c1c86ada-94b3-11e6-82d3-57f79d883dd1.png">

...I think it should apply to your homepage too, so all of your pages are one column. This goes for both a static page homepage, and a posts-on-front homepage. (This means we should als

[2016-10-18 01:52] melchoyce commented on #438
No worries, we used very different keywords 😅

[2016-10-18 02:02] davidakennedy commented on #5
@aaroncampbell performed a general code review. He brought two minor issues up, highlighted here:

https://wordpress.slack.com/archives/core-themes/p1476744628003193

He'll continue to review, but:

I'll create issues for the above.

[2016-10-18 02:12] alaczek opened #440 "Basic HTML elements styling"
I was looking at the default test data, and saw that tables don't seem to have any noticeable styling:

![image](https://cloud.githubusercontent.com/assets/4550351/19461870/0884405e-9534-11e6-8c7e-96ee1ba537b4.png)

The order list styling felt a bit off to me as well - my instinct would be to have a dot after each number.

![image](https://cloud.githubusercontent.com/assets/4550351/19461862/edacd9

[2016-10-18 02:43] melchoyce commented on #440
Tables: #444
OLs: #441
Blockquote Cites: #443

Thanks for finding these, @alaczek!

[2016-10-18 03:01] davidakennedy commented on #400
Both merged! Nice work @noplanman!

[2016-10-18 03:01] #400 closed, assigned to nobody

[2016-10-18 03:29] melchoyce opened #446 ""Scroll down" arrow misaligned"
Looks like it's gotten misaligned again within the past couple days:

<img width="1251" alt="screen shot 2016-10-17 at 11 26 54 pm" src="https://cloud.githubusercontent.com/assets/2846578/19463341/39623a14-94c1-11e6-91a9-9ac97e368db8.png">

[2016-10-18 03:31] melchoyce commented on #446
Can we use flexbox for this? :)

[2016-10-18 03:41] davidakennedy commented on #440
Merged all three.

[2016-10-18 03:41] #440 closed, assigned to melchoyce

[2016-10-18 04:04] alaczek commented on #439
I second that! I was very confused when the number of columns option disappeared on me on the front page.

[2016-10-18 04:07] #301 closed, assigned to nobody

[2016-10-18 04:12] #250 closed, assigned to laurelfulford

[2016-10-18 04:21] davidakennedy commented on #429
@melchoyce Any plugins active?

[2016-10-18 04:21] melchoyce commented on #429
Only the Beta Tester plugin, but it's been buggy since before I installed it.

[2016-10-18 04:36] alaczek opened #449 "iPad mini, iPhone 5: Search form and button rendering issues"
- **on iPad mini 2 retina:**
  ![image](https://cloud.githubusercontent.com/assets/4550351/19464433/f48bd274-9547-11e6-9ae3-9d8f9f65c7dc.png)
- **on iPhone 5S:**
  ![image](https://cloud.githubusercontent.com/assets/4550351/19464498/7ad8542e-9548-11e6-8a74-15a9a4d3c44a.png)

[2016-10-18 04:42] alaczek opened #450 "iPad mini: Images on the front page badly pixelated"
On iPad mini 2 retina in landscape mode both custom header image and panel images appear to be enlarged and badly pixelated:
![image](https://cloud.githubusercontent.com/assets/4550351/19464532/cc75e8aa-9548-11e6-9b37-1372d638361c.png)

![image](https://cloud.githubusercontent.com/assets/4550351/19464535/d0a07954-9548-11e6-9a68-4a35dc02ef34.png)

In portrait mode images display correctly:
![image]

[2016-10-18 04:50] akshayvinchurkar commented on #446
i think i fixed this issue

[2016-10-18 04:51] melchoyce opened #452 "Colors: Header background, gallery images and captions, widget images, tables missing"
Interior page headers:
<img width="1240" alt="screen shot 2016-10-18 at 12 47 50 am" src="https://cloud.githubusercontent.com/assets/2846578/19464764/ece64f20-94cc-11e6-8aa5-d47229dad261.png">

Galleries:
<img width="748" alt="screen shot 2016-10-18 at 12 48 01 am" src="https://cloud.githubusercontent.com/assets/2846578/19464761/ecdb6b14-94cc-11e6-88d0-a6d5dd08963c.png">

Widget image (linked):
<i

[2016-10-18 04:55] alaczek opened #453 "iPhone 5s: Logo cut-off when using default custom header image"
On iPhone 5s in portrait mode the logo is cut-off, if used together with custom header image:

![image](https://cloud.githubusercontent.com/assets/4550351/19464840/2e28b206-954b-11e6-8d16-dad563386f80.png)

Logo displays correctly when in landscape mode or if I remove the header image.

![image](https://cloud.githubusercontent.com/assets/4550351/19464830/1949747e-954b-11e6-8da1-14b0296f1a5e.png)

[2016-10-18 05:03] alaczek opened #454 "iPhone 5s: Next/previous arrow awkwardly pushed below posts navigation"
The next/previous arrow in posts navigation can get awkwardly pushed below the page-numbers in portrait mode:

![image](https://cloud.githubusercontent.com/assets/4550351/19464935/168fdbb4-954c-11e6-8514-989c067edbf1.png)

[2016-10-18 05:06] alaczek commented on #387
Same thing happens to the sticky post pin on iPhone 5S:

![image](https://cloud.githubusercontent.com/assets/4550351/19465040/bfb01678-954c-11e6-98d6-93853a5ea972.png)

[2016-10-18 05:08] alaczek commented on #389
iPhone 5s tested, 4 issues found: #454, #453, #449, #387

[2016-10-18 05:11] alaczek commented on #389
iPad mini 2 retina tested, two issues found: #450, #449

@karmatosed which device did you have in mind for iPad retina? Could we count my testing on iPad mini 2 retina towards that?

[2016-10-18 05:22] davidakennedy commented on #307
Replied via comment on the pull request.

[2016-10-18 05:22] #307 closed, assigned to nobody

[2016-10-18 05:30] laurelfulford commented on #450
Looks like this is related to `background-attachment: fixed`.

Altering the breakpoint for where this is 'turned off' should help.

[2016-10-18 10:05] karmatosed commented on #389
@alaczek I think we should potentially have a non mini iPad but your testing still counts for iPad Mini.

[2016-10-18 10:06] #446 closed, assigned to nobody

[2016-10-18 10:06] #439 closed, assigned to laurelfulford

[2016-10-18 10:07] #433 closed, assigned to nobody

[2016-10-18 11:59] enodekciw commented on #425
If you decide to get rid of wp_nav_menu fallback, PR #458 should resolve this.

[2016-10-18 13:39] davidakennedy commented on #429
Okay, I can reproduce – nice find @melchoyce!

This happens when:

You have a video or audio playlist in a video or audio post format. It doesn't happen when just inserting one video or audio file.

[2016-10-18 15:37] Rarst commented on #127
There is no "better" here really, _both_ are valid for the standard. `DATE_W3C` is just preferable as _exact_ replacement for `c` rather than compatible-but-not-same `DATE_ISO8601`.

[2016-10-18 15:57] melchoyce opened #461 "Update "Single Page Layout" description"
Update from:

To:

See #267, #439.

[2016-10-18 15:58] melchoyce commented on #267
Closing this in favor of #461.

[2016-10-18 15:58] #267 closed, assigned to nobody

[2016-10-18 16:10] noplanman commented on #400
You're so welcome 😊

Any idea when the theme will be released into the wild?

Will brush over the code again before that.

[2016-10-18 16:34] #461 closed, assigned to nobody

[2016-10-18 16:37] laurelfulford commented on #119
Screenshot added in #463.

[2016-10-18 16:37] #119 closed, assigned to nobody

[2016-10-18 16:42] josephfusco opened #464 "Update wording of theme description in screenshot"
Related to #463

Instead of

should we do

? The first being literally a **business site**, while the latter is a **site** for your business.

[2016-10-18 16:57] melchoyce commented on #464
@celloexpressions, what was your original intent with the tagline? I grabbed it from your earlier screenshot idea.

I don't feel strongly one way or the other, so happy to change it :)

[2016-10-18 17:04] melchoyce commented on #464
[Cello says](https://wordpress.slack.com/archives/core-themes/p1476810188003256):

I'll update the image and push up a new PR.

[2016-10-18 17:59] davidakennedy commented on #425
I'm for this, as I think it allows more flexibility for users. I just want to make sure nothing is missed. Will review the pull request.

[2016-10-18 18:06] #327 closed, assigned to nobody

[2016-10-18 18:31] laurelfulford commented on #464
Fixed in #468.

[2016-10-18 18:31] #464 closed, assigned to nobody

[2016-10-18 18:38] josephfusco commented on #26
~~@grappler I edited your initial comment here to include photo credit for the bundled header image.~~

~~Mentioned in: #134~~

Wow I need coffee. Nevermind.

[2016-10-18 18:39] josephfusco commented on #26
Wow I need coffee. Nevermind.

[2016-10-18 19:18] davidakennedy commented on #437
After some experimentation and thought, I think the best option here is to:
- fix the check so it works better.
- display some default text for when the front page is the posts page. Probably "Recent Posts" or "Posts" Maybe "Posts" since the title would show on all pages, like `/page/6/` and so on.
- see this like labeling sticky posts "Featured". I think a decision should be made vs. creating an

[2016-10-18 19:23] melchoyce commented on #289
Maybe this should be handled like it is on interior pages, with the featured image showing up underneath the navigation?

[2016-10-18 20:38] #420 closed, assigned to nobody

[2016-10-18 21:57] laurelfulford commented on #429
The Audio and Video post formats use `get_media_embedded_in_content` to get the associated media.

The function scoops up the `<audio>` and `<video>` tags, respectively. When you just have a straight up `audio` or `video` tag created from an `[audio]` or `[video]` shortcode, the src is included with the tag.

If I'm reading the code right, with the playlists it looks like the src is not included i

[2016-10-18 22:28] laurelfulford opened #472 "Display 'scroll down' arrow alternative when there is no menu"
From [this comment](https://github.com/WordPress/twentyseventeen/pull/458#issuecomment-254592939) by @melchoyce:

[2016-10-18 22:34] laurelfulford commented on #425
Merged #458 to fix - thanks @enodekciw!

[2016-10-18 22:34] #425 closed, assigned to nobody

[2016-10-18 22:35] melchoyce commented on #271
Since we're code freezing tomorrow, going to close this out.

[2016-10-18 22:35] #271 closed, assigned to nobody

[2016-10-18 23:12] melchoyce commented on #365
Fixed in https://github.com/WordPress/twentyseventeen/commit/09fcd089c78d2f9e9deb4038385d6ed9f2145464.

[2016-10-18 23:12] #365 closed, assigned to melchoyce

[2016-10-18 23:43] joyously commented on #429
Is that the same reason that gallery posts only show a gallery on the blog index page? My gallery post has some text and two galleries, but only the first gallery shows on the blog page. All the normal posts show full content. Why don't the other post formats do the same?

[2016-10-19 01:11] davidakennedy commented on #171
Taken care of in #475.

[2016-10-19 01:11] #171 closed, assigned to nobody

[2016-10-19 02:17] #437 closed, assigned to nobody

[2016-10-19 02:55] #431 closed, assigned to nobody

[2016-10-19 02:59] #314 closed, assigned to laurelfulford

[2016-10-19 03:11] laurelfulford opened #482 "Background colour for header"
When #481 is merged, the header background colour should be updated to work with a default white header font.

[2016-10-19 03:15] celloexpressions commented on #482
Won't the custom color (and its white default) still only be applied when there's a header image (or video) set? The current design could probably be preserved for the no-image case if desired.

[2016-10-19 03:17] celloexpressions commented on #452
I can grab these with my style.css-to-colors re-sync on Thursday (after merge).

[2016-10-19 03:18] melchoyce opened #483 "Page comments need border/spacing"
From #470:

We need to add a border/spacing to pages that have comments:

<img width="1013" alt="36bf3808-9579-11e6-991c-67a7d88e0031" src="https://cloud.githubusercontent.com/assets/2846578/19504545/1d742164-9589-11e6-98b5-1c177d437cb3.png">

[2016-10-19 03:18] davidakennedy commented on #225
Addressed in #481.

[2016-10-19 03:18] #225 closed, assigned to nobody

[2016-10-19 03:20] davidakennedy commented on #413
Addressed in #481.

[2016-10-19 03:20] #413 closed, assigned to ryelle

[2016-10-19 03:54] celloexpressions commented on #189
Superseded by #413.

[2016-10-19 03:54] #189 closed, assigned to nobody

[2016-10-19 03:55] celloexpressions commented on #289
Showing it in the standard position for a single post seems like a logical approach, and shouldn't be difficult to implement.

[2016-10-19 04:06] celloexpressions commented on #429
This seems like a core bug with that function. On the other hand, it might take a container function to make it more generically strip out shortcodes as opposed to the actual content tags, and also assume that audio playlists qualify as audio. Such a function could also handle grabbing the first image in the content or grabbing the first gallery, and allow the preferred/desired type to be specifie

[2016-10-19 07:03] afercia opened #485 "Social menu SVG icons on Safari 10"
Not sure if it's just me but quickly checking the social menu svg icons, here's how they appear for me on Safari 10:

![screen shot 2016-10-19 at 08 57 42](https://cloud.githubusercontent.com/assets/1682452/19508681/cb3c0ef0-95da-11e6-9ace-40badc0823aa.png)

On Chrome they look OK:

![screen shot 2016-10-19 at 08 57 32](https://cloud.githubusercontent.com/assets/1682452/19508680/cb3a82d8-95da-11e6

[2016-10-19 07:07] afercia opened #486 "Keyboard navigation on Safari 10"
Not sure if it's just me but keyboard navigation on Safari 10 has some weird behaviour:
- can't open a main navigation menu drop down (works on Chrome)
- can't complete navigation of a page (any page): at some point while tabbing the tab order starts again from the root and it's impossible for me to even reach the sidebar

[2016-10-19 07:07] afercia commented on #485
Also, the focus style on the social menu icons is based on color only. Would need an additional indicator since color only is not enough for accessibility.

[2016-10-19 07:19] samikeijonen commented on #485
I see the similar "flash" in Chrome on Windows but then back to normal. I don't see it on my own theme so I suspect it's CSS related.

I'd add outline (thin dotted for example) for social links also.

[2016-10-19 07:19] samikeijonen commented on #485
I see the similar "flash" in Chrome on Windows but then back to normal. I don't see it on my own theme so I suspect it's CSS related.

I'd add outline (thin dotted for example) for social links also.

[2016-10-19 07:19] samikeijonen commented on #485
I see the similar "flash" in Chrome on Windows but then back to normal. I don't see it on my own theme so I suspect it's CSS related.

I'd add outline (thin dotted for example) for social links also.

[2016-10-19 07:19] samikeijonen commented on #485
I see the similar "flash" in Chrome on Windows but then back to normal. I don't see it on my own theme so I suspect it's CSS related.

I'd add outline (thin dotted for example) for social links also.

[2016-10-19 07:19] samikeijonen commented on #485
I see the similar "flash" in Chrome on Windows but then back to normal. I don't see it on my own theme so I suspect it's CSS related.

I'd add outline (thin dotted for example) for social links also.

[2016-10-19 07:20] samikeijonen commented on #485
I see the similar "flash" in Chrome on Windows but then back to normal. I don't see it on my own theme so I suspect it's CSS related.

I'd add outline (thin dotted for example) for social links also.

[2016-10-19 07:22] samikeijonen commented on #486
Is that point always the same point or random one?

[2016-10-19 08:58] afercia commented on #486
Seems there are multiple points here this happen. A first one is the menu drop-down, when a navigation menu has sub-items. A second one, after tabbing on a post published date and author name (before the post title).

[2016-10-19 11:03] ernilambar opened #488 "Incorrect theme tag - two-column"
Correct is `two-columns`.

[2016-10-19 12:31] ocean90 opened #490 "Edit link isn't visible in dark theme"
Introduced in #469.

<img width="339" alt="edit-link-dark-theme" src="https://cloud.githubusercontent.com/assets/617637/19518666/a880f0b4-9608-11e6-9f46-274b5cea563a.png">

[2016-10-19 14:59] davidakennedy commented on #485
@afercia Did you have JavaScript off?

We run a test for SVGs in JS – and if it fails, we show the screen reader text fallback there and hide the SVG... Looks like something choked.

I can't reproduce this in Safari 10.

[2016-10-19 15:01] davidakennedy commented on #486
Thanks @afercia! I can reproduce and this is really weird. I don't see it happening in Chrome or Firefox. I also don't see any JS errors in the console.

I'll dig in and see what's going on.

[2016-10-19 15:05] #485 closed, assigned to nobody

[2016-10-19 15:16] melchoyce commented on #13
Closing in favor of #388.

[2016-10-19 15:16] #13 closed, assigned to nobody

[2016-10-19 15:24] laurelfulford commented on #453
Was incidentally fixed in #481; closing!

[2016-10-19 15:24] #453 closed, assigned to nobody

[2016-10-19 15:25] afercia commented on #486
@davidakennedy I'm afraid it's because the SVGs, highly suspect the `use xlink` thing. Disabled JS, disabled CSS, and it still happens when tabbing on focusable elements close to each SVG:

![screen shot 2016-10-19 at 17 14 17](https://cloud.githubusercontent.com/assets/1682452/19525277/bfb47fea-9620-11e6-9e04-28856f0619b5.png)

To quickly double check, just made `twentyseventeen_get_svg()` return

[2016-10-19 15:28] josephfusco commented on #26
Looks like this was fixed in 84476cb7146ce425dbd2c2c9a74fdc32411e420d

[2016-10-19 15:28] #26 closed, assigned to nobody

[2016-10-19 15:33] aaronjorbin opened #493 "Theme Options Do Nothing when Front Page Displays latest Posts"
As a user, I expect the panels to do something. When my Front Page Displays settings are set to latest posts, they don't appear to do anything.

[2016-10-19 15:37] ocean90 opened #494 "Replace inline control structure in `twentyseventeen_content_image_sizes_attr()`"
See https://github.com/WordPress/twentyseventeen/blob/5b5e4e86c2b8343863d7633758987da93c2bf2e8/functions.php#L317-L323.

To improve code readability the lines 317 and 321 should be changed to a proper `if ( ) {}` block. Also, per WordPress' coding standards, [yoda conditons should only be used for ==, !=, ===, and !==](https://make.wordpress.org/core/handbook/best-practices/coding-standards/php/#y

[2016-10-19 15:42] ocean90 opened #495 "Incorrect use of `_x()` in `twentyseventeen_posted_on()`"
https://github.com/WordPress/twentyseventeen/blob/5b5e4e86c2b8343863d7633758987da93c2bf2e8/inc/template-tags.php#L20

`_x()` is used to differ two similar strings with different meanings. Translators comments are used to describe placeholders.

[2016-10-19 15:43] afercia commented on #486
Seems we're not alone...
https://github.com/facebook/react/issues/7852

[2016-10-19 15:43] ocean90 commented on #495
Same for `twentyseventeen_time_link()`, see https://github.com/WordPress/twentyseventeen/blob/a15f8d1ed4003007b8e25330dc787cda7b7a32f7/inc/template-tags.php#L48.

[2016-10-19 15:47] aaronjorbin opened #496 "Theme Options in customizer do not appear when you have too many pages"
To replicate:  Create a few hundred thousand pages.  The customizer takes a very long time to load and theme options panel is not rendered at all.  Front page also fatal errors in the preview (even though it loads fine for me normally.

`[Wed Oct 19 15:44:59.308691 2016] [:error] [pid 21322] [client 108.30.103.76:57048] PHP Fatal error:  Allowed memory size of 134217728 bytes exhausted (tried to a

[2016-10-19 15:59] ocean90 opened #497 "Filters are not documented"
Twenty Fifteen has 5 filters and 4 are documented, Twenty Sixteen has 8 filters and 6 are documented.
Twenty Seventeen has 4 filters and none are documented. 🙂

See https://make.wordpress.org/core/handbook/best-practices/inline-documentation-standards/php/#4-hooks-actions-and-filters

[2016-10-19 16:46] ocean90 opened #498 "Comments: Improve highlighting of post authors"
See https://wordpress.slack.com/archives/core-themes/p1476895277003400

<img width="263" alt="twentyseventeen-post-author" src="https://cloud.githubusercontent.com/assets/617637/19528398/2944946c-962c-11e6-9c0c-55f4da2721e9.png">

@melchoyce mentioned that there should be an icon.

[2016-10-19 16:52] davidakennedy commented on #498
Already an issue here: #319. Closing.

[2016-10-19 16:52] #498 closed, assigned to nobody

[2016-10-19 17:24] joyously commented on #429
It is misleading for the blog index page to show full content on some posts and not others.  A visitor would not go to the single post pages for audio, video, or gallery posts because it looks like the full content is showing, since the other posts show full content. They should all be full or all be excerpts.

[2016-10-19 17:54] #488 closed, assigned to nobody

[2016-10-19 18:18] #105 closed, assigned to nobody

[2016-10-19 19:51] samikeijonen commented on #486
That's a weird bug in Safari. Hope it will be fixed very soon.

[2016-10-19 20:26] lukecav opened #499 "Full-width page template included in core"
Would there be any reason why a full-width template would not be included in the core of the theme?

[2016-10-19 22:00] celloexpressions commented on #496
This is a core bug. The dropdown-pages control needs to be refactored to use something like Select2, but unfortunately that particular library isn't an option due to its inaccessibility. The Customize Posts plugin has some experiments here.

[2016-10-19 22:12] davidakennedy commented on #499
Hey @lukecav – thanks for the issue. It was decided earlier the theme wouldn't have a full-width template. See: https://github.com/WordPress/twentyseventeen/pull/37 Thanks again!

[2016-10-19 22:12] #499 closed, assigned to nobody

[2016-10-19 22:22] davidakennedy commented on #496
Maybe an issue with `wp_dropdown_pages()` as well? I'm not sure this is a theme bug.

[2016-10-19 22:33] davidakennedy commented on #394
After chatting with the accessibility team, it was determined that further enhancements aren't needed. See: https://wordpress.slack.com/archives/accessibility/p1476728678002426

[2016-10-19 22:33] #394 closed, assigned to nobody

[2016-10-19 22:43] davidakennedy commented on #230
Since a pull request didn't materialize for this one, I'm going to close it.

[2016-10-19 22:43] #230 closed, assigned to nobody

[2016-10-19 22:45] davidakennedy commented on #12
Closing this, as the theme had several reviews. Of course, continued scrutiny when the theme merges to Core is welcome.

[2016-10-19 22:45] #12 closed, assigned to nobody

[2016-10-19 22:45] davidakennedy commented on #7
Closing this, as the theme had several reviews. Of course, continued scrutiny when the theme merges to Core is welcome.

[2016-10-19 22:45] #7 closed, assigned to nobody

[2016-10-19 22:46] davidakennedy commented on #5
The one remaining issue highlighted needs to move to Trac.

[2016-10-20 09:39] karmatosed commented on #497
Moved to trac: https://core.trac.wordpress.org/ticket/38382

[2016-10-20 09:39] #497 closed, assigned to nobody

[2016-10-20 09:41] karmatosed commented on #495
Moved to trac: https://core.trac.wordpress.org/ticket/38383

[2016-10-20 09:41] #495 closed, assigned to nobody

[2016-10-20 09:48] karmatosed commented on #494
Moved to trac: https://core.trac.wordpress.org/ticket/38384

[2016-10-20 09:48] #494 closed, assigned to nobody

[2016-10-20 09:51] karmatosed commented on #490
Moved to trac: https://core.trac.wordpress.org/ticket/38385

[2016-10-20 09:51] #490 closed, assigned to nobody

[2016-10-20 09:53] karmatosed commented on #493
Moved to trac: https://core.trac.wordpress.org/ticket/38386

[2016-10-20 09:53] #493 closed, assigned to nobody

[2016-10-20 09:56] karmatosed commented on #486
Reported in trac: https://core.trac.wordpress.org/ticket/38387

[2016-10-20 09:56] #486 closed, assigned to nobody

[2016-10-20 09:57] karmatosed commented on #483
Moved to trac: https://core.trac.wordpress.org/ticket/38388

[2016-10-20 09:57] #483 closed, assigned to nobody

[2016-10-20 10:03] karmatosed commented on #452
Moved to trac and assigned to you @celloexpressions as mentioned you'd tackle this, thanks.

https://core.trac.wordpress.org/ticket/38389

[2016-10-20 10:03] #452 closed, assigned to nobody

[2016-10-20 10:13] karmatosed commented on #429
Moved to trac: https://core.trac.wordpress.org/ticket/38390

[2016-10-20 10:13] #429 closed, assigned to nobody

[2016-10-20 10:15] karmatosed commented on #482
Moved to trac: https://core.trac.wordpress.org/ticket/38391

[2016-10-20 10:15] #482 closed, assigned to nobody

[2016-10-20 10:18] karmatosed commented on #472
Moved to trac: https://core.trac.wordpress.org/ticket/38392

[2016-10-20 10:18] #472 closed, assigned to nobody

[2016-10-20 10:19] karmatosed commented on #11
I am tentatively closing this as it will happen now in core. We should get flow reports as a result, I'll keep eye out we do.

[2016-10-20 10:19] #11 closed, assigned to karmatosed

[2016-10-20 10:20] karmatosed commented on #5
I think we should perhaps get a ticket per view on trac over a general review ticket now? As it's in merge. Tentatively closing.

[2016-10-20 10:20] #5 closed, assigned to nobody

[2016-10-20 11:09] karmatosed commented on #454
Moved to trac: https://core.trac.wordpress.org/ticket/38394

[2016-10-20 11:09] #454 closed, assigned to nobody

[2016-10-20 11:11] karmatosed commented on #450
Moved over to trac: https://core.trac.wordpress.org/ticket/38395

[2016-10-20 11:11] #450 closed, assigned to nobody

[2016-10-20 11:12] karmatosed commented on #449
Moved to trac: https://core.trac.wordpress.org/ticket/38396

[2016-10-20 11:12] #449 closed, assigned to nobody

[2016-10-20 11:16] karmatosed commented on #393
Moved to trac: https://core.trac.wordpress.org/ticket/38397

[2016-10-20 11:16] #393 closed, assigned to nobody

[2016-10-20 11:16] karmatosed commented on #389
Closing as complete.

[2016-10-20 11:16] #389 closed, assigned to nobody

[2016-10-20 11:16] karmatosed commented on #388
Closing as complete also we are now on trac and have more testers.

[2016-10-20 11:16] #388 closed, assigned to nobody

[2016-10-20 11:20] karmatosed commented on #348
Moved to trac here: https://core.trac.wordpress.org/ticket/38399 - also suggested this gets split on trac into separate tickets as easier to get head around.

[2016-10-20 11:20] #348 closed, assigned to nobody

[2016-10-20 11:22] karmatosed commented on #346
Moved to trac: https://core.trac.wordpress.org/ticket/38400

[2016-10-20 11:22] #346 closed, assigned to davidakennedy

[2016-10-20 11:23] karmatosed commented on #279
I am closing this as we've merged, not as a 'we won't do', but as a 'it would happen over on trac'. If anything comes up and we need a trac ticket, then one can be made.

[2016-10-20 11:23] #279 closed, assigned to nobody

[2016-10-20 11:26] karmatosed commented on #289
Moved this over to trac: https://core.trac.wordpress.org/ticket/38402

[2016-10-20 11:26] #289 closed, assigned to nobody

[2016-10-20 11:27] karmatosed commented on #319
Moved to trac: https://core.trac.wordpress.org/ticket/38403

[2016-10-20 11:27] #319 closed, assigned to nobody

[2016-10-20 11:29] karmatosed commented on #339
Moved to trac: https://core.trac.wordpress.org/ticket/38404

[2016-10-20 11:29] #339 closed, assigned to laurelfulford

[2016-10-20 11:30] karmatosed commented on #496
I'm going to close this potentially as a core bug as moving everything to trac. That said, if I am closing wrongly please open and issue on trac as that's where all Twenty Seventeen tickets are living now.

[2016-10-20 11:30] #496 closed, assigned to nobody

[2016-10-20 11:32] karmatosed commented on #392
Moved to trac: https://core.trac.wordpress.org/ticket/38405

[2016-10-20 11:32] #392 closed, assigned to nobody

[2016-10-20 11:34] karmatosed commented on #387
Moved to trac: https://core.trac.wordpress.org/ticket/38406

[2016-10-20 11:34] #387 closed, assigned to nobody

[2016-10-20 11:35] karmatosed commented on #386
Moved to trac: https://core.trac.wordpress.org/ticket/38407

[2016-10-20 11:35] #386 closed, assigned to nobody

[2016-10-20 11:37] karmatosed commented on #224
Moved to trac: https://core.trac.wordpress.org/ticket/38408

[2016-10-20 11:37] #224 closed, assigned to nobody

[2016-10-20 21:17] aaroncampbell commented on #5
Sorry, I didn't see this so I don't know if it was already moved to Trac. I created https://core.trac.wordpress.org/ticket/38422 with a patch for the coding style issue that I had pointed out.

[2016-10-21 14:31] mayukojpn commented on #59
Hi! I talked with @kientrong from @FameThemes, one of vietnamese theme distributor and he would like to help this issue. Can we make a ticket on trac? Or is it too late?

[2016-10-21 14:34] melchoyce commented on #59
Can definitely make a trac ticket! Be sure to put it in the "Bundled Themes" with "4.7" as the milestone.

[2016-10-22 11:31] moserdominik opened #501 "anchor link"
Hello

Could it be an addictional feature to have an option for anchor links in menu?

E.g. https://test.com/#contact

Your sincerely,
Dominik

[2016-10-22 11:36] moserdominik opened #502 "Visible Menu link on the mobile site without menu links"
Hello

If I don't have a menu link in my menu, the menu section on the normal page is disable or small.

On the mobile page the menu link is without a function visible (it should not be visible too).

Your sincerely,
Dominik

[2016-10-22 18:49] davidakennedy commented on #501
Hello @moserdominik! This repository is closed now. All active development for Twenty Seventeen happens on WordPress Trac:  http://core.trac.wordpress.org/ Please request features there.

Anchor links can be accomplished with a custom menu in Twenty Seventeen, so what you want is possible already. 😄  See: https://codex.wordpress.org/WordPress_Menu_User_Guide

[2016-10-22 18:49] #501 closed, assigned to nobody

[2016-10-22 18:53] davidakennedy commented on #502
Hello @moserdominik! This repository is closed now. All active development for Twenty Seventeen happens on WordPress Trac: http://core.trac.wordpress.org/ Please request features there.

The menu only shows if you have created a custom menu and assigned it to the menu area. On smaller screens, it's hidden behind a menu toggle to save space.

If you think you found a bug, create a ticket on Trac. A

[2016-10-22 18:53] #502 closed, assigned to nobody

[2016-10-23 11:00] JennyShi776 commented on #482
We are able to reproduce the bug, when changed the header font to white, then the background colour became almost invisible. Potential solutions:  1. working with the background colour changed it to darker colours in contrast to the white header font (it may not be user friendly in particular for beginners or 2. add an option of background colour (so users can choose different colours as suggested

[2016-10-23 11:09] karmatosed commented on #482
Hi @JennyShi776 development for Twenty Seventeen is now taking place on trac. If possible could you add your comment there? Here is where that ticket can be found:

https://core.trac.wordpress.org/ticket/38391

[2016-10-24 17:30] JennyShi776 commented on #482
Thank you Karmatosed, brilliant work. Magic. The added function of the Header Text Color works well. Love it thanks.

[2016-10-31 12:23] cdog commented on #249
This seems more appropriate to core. I would like to see any updates on that ticket.

[2016-11-15 06:45] impallari commented on #59
Hi Guys, sorry to arrive late to the party.
Some good news: Libre Franklin v1.015 was just released. It fixes a small bug in the italic double-quotes,  adds support and coverage to lots of languages (including Vietnamese), and the kerning was greatly improved. I'm very happy that you are using it for this awesome new theme. Thanks!
I will ping the guys at googlefonts so they can make it public asa

[2016-11-16 17:33] melchoyce commented on #59
Thank you so much @impallari! Super excited to use Libre Franklin :)

[2016-12-07 10:38] Martien commented on #268
Just got my hands on 2017, and I must say that I miss the option to show a sidebar on pages. I want my visitors give the option to select from a (few) other pages when they are on a page. In fact, I have a set of pages that form both a whole and a shallow hierarchy. With 2017, it seems, this can only be done with a child theme (too complicated) or by converting the pages into posts.

BTW, I have n

[2016-12-16 23:03] amann-one commented on #227
Hi,
is it still possible to add another social icon?
If so, please add XING to your list!
https://www.xing.com is a business network platform from Germany (such as LinkedIn) which is very popular in Central Europe and has about 15 million members.

Thanks in advance,
Christoph

[2016-12-16 23:12] melchoyce commented on #227
Hi @amannulm, development of Twenty Seventeen has moved to Trac. Can you make a new ticket here? https://core.trac.wordpress.org/ Thanks!

[2017-01-25 15:06] balbir007 commented on #232
Much a debt of gratitude is in order for creating such an intriguing blog. I have favored your post specifically and has affected me. For more detail please visit
http://www.multipackersmovers.in/packers-and-movers-in-delhi/

[2017-02-15 14:34] gevargus commented on #227
Hi @melchoyce. Can you add "Houzz"?

[2017-02-15 16:53] laurelfulford commented on #227
Hi @georgediril! Development of Twenty Seventeen has moved to Trac - you can now report any issues or enhancements requests here: https://core.trac.wordpress.org/ Thanks!

[2017-04-17 08:56] ghost opened #504 "navigation.js should be enqueued with jQuery as dependency"
https://core.trac.wordpress.org/changeset/40315

Surfacing issue here for visibility for those who are modifying the theme using the GitHub source, as it appears it is not the most recent source code (why?). If you're inverting control of `wp_enqueue_script` for asynchronous loading note `navigation.js` has a hard dependency on jQuery currently not listed in this source.

Thanks!

[2017-04-17 09:04] ghost commented on #504
Ah. Please consider updating the README so this is clearly state there as well.

[2017-04-17 09:04] #504 closed, assigned to nobody

[2017-04-17 09:10] ghost opened #505 "Add clear deprecation notice"
https://core.trac.wordpress.org/ticket/40471

For users landing from GitHub search, this repo leaves little indication it is not the master. There is a note at the top of the repo indicating such, but it's easy to miss. Please update README for clarity.

Here's an example of clear deprecation in a README:

<img width="918" alt="screen shot 2017-04-17 at 5 09 05 pm" src="https://cloud.githubusercon

[2017-04-17 11:40] ntwb commented on #505
It is already documented in the issue template here when creating issues that development has moved from GitHub to Trac:

[code]

[2017-04-17 11:40] #505 closed, assigned to nobody

[2017-04-17 12:18] ghost commented on #505
@ntwb I don't believe you read my description.

[2017-04-17 12:18] ghost opened #506 "Please read this"
https://core.trac.wordpress.org/ticket/40471

For users landing from GitHub search, this repo leaves little indication it is not the master. There is a note at the top of the repo indicating such, but it's easy to miss. Please update README for clarity.

Here's an example of clear <del>deprecation</del> <ins>notice</ins> in a README:

<img width="918" alt="screen shot 2017-04-17 at 5 09 05 pm" src

[2017-04-17 22:16] lukecav commented on #505
The example you referenced was very clear for **This Project Is Deprecated** wording.

Example
https://github.com/jhabdas/react-native-webpack-starter-kit/blob/master/README.md

Current README.md
https://github.com/WordPress/twentyseventeen/blob/master/README.md

[2017-04-17 22:22] lukecav commented on #506
Example.
https://github.com/lukecav/twentyseventeen/blob/master/README.md

[2017-04-17 22:35] ntwb commented on #505
Twenty Seventeen is **not** deprecated, development has moved from GitHub to Trac

The code mirrored here on GitHub may not be as up to date as the primary SVN repo but it is not deprecated.

[2017-04-18 06:26] ghost commented on #505
Just change the wording. The spirit of the issue remains the same.

[2017-04-18 06:28] ghost commented on #505
I'm sure many will be curious to know how to curl code since you're using a different DCVS as well, not covered in the responses here. I've opened another issue for you.

[2018-01-09 21:59] davidakennedy commented on #506
Added a notice to the README.md file.

[2018-01-09 21:59] #506 closed, assigned to nobody